[2018-05-09 16:37] JonKohler opened #38 "Get travis working"

[2018-05-09 16:38] JonKohler opened #39 "Provision public endpoint pool in GCP"
This needs to be:
Latest GA
GA minus one
GA.next (master)

[2018-05-10 13:19] JonKohler opened #40 "categories assignment on vm resource not working"
JKohlerVT-TBMBP:examples jon.kohler$ ./terraform plan

Error: nutanix_virtual_machine.demo-01-app: metadata (categories): '' expected type 'string', got unconvertible type '[]map[string]interface {}'

I got this when trying to use the commented code below. Looks like we have categories expecting a string, not an object (which it should be doing object, as category assignments are an object of key

[2018-05-11 14:59] JonKohler commented on #41
thanks @htj ! I'll have one of the guys look at this with priority so we can make sure we're providing the right guidance

[2018-05-11 19:51] JonKohler commented on #41
hey @htj - Can you check out the latest build instructions in the readme now, and let us know if that works out for you?

[2018-05-11 21:17] marinsalinas commented on #41
@htj the latest build instructions are in our `develop` branch.
here is:
https://github.com/nutanix/terraform-provider-nutanix/tree/develop

[2018-05-14 03:31] JonKohler opened #47 "Cleanup all go report card issues"
See https://goreportcard.com/report/github.com/nutanix/terraform-provider-nutanix

There are a bunch of easy low hanging fruit in there, around gofmt and some spelling typos.

[2018-05-14 06:57] htj commented on #41
Thanks.
I actually managed to build it later in the day, with instructions from another terraform plugin.
I'm sure this is all trivial stuff for people used to go, but I just haven't spend that much time with it.

[2018-05-14 13:03] htj opened #48 "Unclear protocol / error message for image upload"
Hi

I was trying to upload a new image file to nutanix with terraform:

[code]

However this fails:

[code]

There are a couple of issues here:

1. Looking at other examples it seems file:// should be used for local files. This is not obvious, and most other plugins (from what I have seen) use local files if not protocol is specified.

2. The error message is quite bad. Turning on debug, I can see

[2018-05-14 13:11] htj commented on #48
This is with file:// source

[code]

[code]

Is there a hard 10s timeout for image upload? Seems a bit low.

From the debug output:
[code]

[2018-05-14 15:10] marinsalinas commented on #47
Working on it!

[2018-05-14 17:12] Crizstian opened #51 "Add VMS Data Source"

[2018-05-14 17:13] #51 closed

[2018-05-15 03:40] JonKohler opened #56 "Fix gocyclo issues reported by go report card"
Go report card is spotless as of the latest merge, with the exception of the gocyclo.

Perhaps @thetonymaster could help us sort this out?

gocyclo76%
Gocyclo calculates cyclomatic complexities of functions in Go source code. The cyclomatic complexity of a function is calculated according to the following rules: 1 is the base complexity of a function +1 for each 'if', 'for', 'case', '&&' or '||' G

[2018-05-15 03:46] marinsalinas commented on #38
Here is the travis output for master branch

[code]

[2018-05-15 17:02] JonKohler opened #59 "Implement swagger spec validation testing as part of terraform travis pre-commit testing"
We'll always have unit testing to test each individual resource, which is great; however, those only test what is wired up to be tested, and depending on who codes up the test, and what it actually covers, there is room for error.

I'm also planning on having a GA, GA-1, and GA+1 validation strategy, such that we can be aware of terraform issues with upcoming versions (or previous versions) to cov

[2018-05-15 17:28] JonKohler opened #60 "enhance contributing and support framework"
Our CLA is super basic right now, and only covers the legal side of code contributions, and not the processes and such.

Good source of inspiration: https://mozillascience.github.io/working-open-workshop/contributing/

Also have a good source of inspiration from our friends at google, here: https://github.com/terraform-providers/terraform-provider-google/tree/master/.github

[2018-05-15 17:49] JonKohler opened #62 "codify branching model for this project"
TLDR Summary:
master is always "green" ... nothing gets committed to master without passing through develop first, with little to know exceptions
develop should also be "green" with little exceptions
New feature work should go into feature branches and then be PR'd into develop

Should align with basic "sane" branching model here: https://nvie.com/posts/a-successful-git-branching-model/

Need to g

[2018-05-15 17:59] JonKohler commented on #59
We could also address this "out of band" by something like assertible: https://assertible.com/dashboard#/ - problem is if someone fails to set this up, it wouldn't give "inline" failures to block bad commits, etc

[2018-05-15 22:04] marinsalinas commented on #38
Now it works!

[2018-05-15 22:04] #38 closed

[2018-05-16 12:13] htj commented on #48
After looking at the code, it is clear that the functionality to upload a local image isn't there.

Is there any plans to add this soonish?

There are a couple of examples using file:// which is a bit misleading.

[2018-05-16 14:08] Crizstian commented on #48
Hey @htj i have made a test using this config and it worked for me,

[code]

for uploading a file i will be working on it, just let me push some fixes i have done

[2018-05-16 15:15] thetonymaster commented on #56
@JonKohler, let me go through a walkthrough of the code, and write somewhere some recommendations.

[2018-05-16 17:00] Crizstian opened #68 "Add Cluster DS"

[2018-05-17 08:36] htj commented on #48
http/https doesn't work for us, as our prism is on an rc1918 network without outbound connectivity.

[2018-05-17 09:31] htj opened #72 "Terraform crash with VM and cloud init"
Terraform crashes for me when specifying cloud init data. It might be something else, but I can spawn VMs without cloud init at least.

This is with clean starter state.

Output:

[code]

vm file:

[code]

gist with trace: https://gist.github.com/htj/dc32f0b2a92cbe25569c0a8c6db342e1

[2018-05-17 12:34] htj commented on #72
Hi

After a bit of digging, it turns out the vm.GuestCustomization is never initialized / created.

I've made a fix for cloud-init over here:

https://github.com/NORDUnet/terraform-provider-nutanix/commit/86e3710e4d8348d5ca2b487e08c6351d27725e5c

However, this is clearly a problem other places in the code as well.

I'm now getting another error during VM creation, looking into it.

[2018-05-17 12:52] htj commented on #72
Now getting this error:

[code]

It looks like the error message from the task isn't relayed properly here. That would be a really helpful addition.

[2018-05-17 20:09] JonKohler commented on #48
Sure @htj understood. Just keep in mind that isn't internet only, if you have any http/https enabled filers internally, you can use that easily. Let's retest when @Crizstian gets his fixes in

[2018-05-18 16:22] marinsalinas opened #75 "Add Network Security Rule DS"

[2018-05-18 19:20] marinsalinas commented on #40
I already fixed it in #76

[2018-05-21 15:46] #40 closed

[2018-05-21 16:17] #68 closed

[2018-05-21 16:17] #75 closed

[2018-05-21 18:03] marinsalinas opened #80 "Add Network Security Rules DS"

[2018-05-21 18:46] JonKohler opened #81 "Test ticket from Code Climate"

[2018-05-21 18:54] JonKohler opened #85 "Fix "SC2046" issue in scripts/gofmtcheck.sh"
Quote this to prevent word splitting.

https://codeclimate.com/github/nutanix/terraform-provider-nutanix/scripts/gofmtcheck.sh#issue_5b03114d35e9f700010001bf

[2018-05-21 18:55] JonKohler commented on #87
dupe

[2018-05-21 20:08] Crizstian opened #88 "Configuration for the Terraform Nutanix Documentation"

[2018-05-22 15:28] #80 closed

[2018-05-22 15:32] JonKohler commented on #56
hey @thetonymaster - whats the status on this bit?

[2018-05-22 15:39] JonKohler opened #91 "Incorporate gofmt simplify (gofmt -s)"
go report card keeps flagging non-simple code, which is a good thing.

Can we incorporate gofmt -s somewhere, perhaps in the makefile, or fmt checker script, to catch this before we land code? That would accelerate the process and close this quality gap from happening again.

[2018-05-22 21:15] mallochine commented on #56
shouldn't be too hard to fix. Just split out 10-line logic blocks into functions. Pretty standard refactoring on a big code base

[2018-05-22 21:34] marinsalinas commented on #72
@htj I already used your configuration and I got this response error:

[code]
@JonKohler any though about this?

[2018-05-22 22:02] cgriggs01 opened #92 "Provider Development Program - Review Feedback"
Hi Jon,

The provider is starting to look good, I've got a couple of items to bring up.

- Had some errors compiling when running the tests due to some missing dependency packages. We have standardized on using [govendor](https://godoc.org/github.com/kardianos/govendor) to manage dependancies in order to ensure reliable, reproducible builds.

- There should be documentation for reach available res

[2018-05-23 04:08] Crizstian commented on #92
Hello @cgriggs01,

* For the dependencies we are using the dep the package manager for go, that will become the official one in the future, to get all the dependencies you have execute the `dep ensure` command, and you should not have any problem for a missing dependency.

* In regarding to the documentation we are currently working on it for both resources and datasources.

* master branch has th

[2018-05-23 13:02] JonKohler commented on #92
hey @cgriggs01
RE govendor - do we have to migrate this to govendor? or can we continue to use golang dep? https://godoc.org/github.com/golang/dep - As @Crizstian mentioned, we figured that would be best, given its the official dependency manager from golang

[2018-05-23 20:49] JonKohler commented on #56
Thanks @mallochine - @thetonymaster @marinsalinas @Crizstian - are you guys on this?

[2018-05-23 20:49] JonKohler commented on #72
hey @marinsalinas - We have the HTTP callback now, right? Can you paste in the actual JSON we're sending the API for this?

[2018-05-23 22:54] thetonymaster commented on #56
We are currently working on the documentation,  missing resource and the bugs.

[2018-05-24 15:44] Crizstian opened #99 "Volume Group DS"

[2018-05-24 15:44] Crizstian opened #100 "Volume Groups DS"

[2018-05-25 00:42] #47 closed

[2018-05-28 09:34] htj commented on #72
Hi

I get the same error now using the develop branch. I'm not sure if the new error is from nutanix or terraform though. It would be nice if terraform could show the actual error message though. In Prism I can see:

"Internal Error: 5 :Unable to perform catalog item checkout: Internal Error: 5 :Error running catalog item checkout subtask: NotFound: 7"

Though this is still not very helpful.

[2018-05-28 10:20] htj commented on #72
Turns out that is the error message if the specified image does not exist.

Now getting:

* nutanix_virtual_machine.terraform-test-02: Error waiting for vm (c8ba80bb-024b-41d3-9c7a-50722299f8ff) to create: Error: {
  "message_list": [
    {
      "message": "Remote request VM change failed with exception {\n    \"message\": \"The browser (or proxy) sent a request that this server could not underst

[2018-05-28 12:15] htj opened #111 "Terraform client fails to read cloud init values"
I made a VM with cloud init (partial success only so far), but making another VM, I get this:

htj@iridium:~/projects/ndn-iaas/tfntnx$ terraform apply
nutanix_virtual_machine.terraform-test-02: Refreshing state... (ID: 0c4eb936-6155-418a-9dfc-28c0c53d452e)

Error: Error refreshing state: 1 error(s) occurred:

* nutanix_virtual_machine.terraform-test-02: nutanix_virtual_machine.terraform-test-02: g

[2018-05-28 17:19] JonKohler commented on #72
reopening cc @Crizstian

[2018-05-28 17:20] #99 closed

[2018-05-28 17:20] #100 closed

[2018-05-28 18:38] marinsalinas commented on #111
Hi @htj  we already changed how to provide the `custom_key_values arguments`, Now when #113 merged you can put this argument in this way:

[code]

[2018-05-28 20:15] marinsalinas commented on #72
@htj  currently our test in VM is passing on our side, Could you please provider us your tf configuration in order to see what's happening?

[2018-05-28 20:54] marinsalinas commented on #72
@JonKohler  here is the request that we sent with this configuration:

[code]
This information works for you???

[2018-05-29 07:34] htj commented on #111
Hi, well, now I get a crash:

htj@iridium:~/projects/ndn-iaas/tfntnx$ terraform apply
nutanix_virtual_machine.terraform-test-04: Refreshing state... (ID: 1d3e4b4e-6ef1-49bc-96d6-1f70eb5426ae)

An execution plan has been generated and is shown below.
Resource actions are indicated with the following symbols:
  + create
  ~ update in-place

Terraform will perform the following actions:

  + nutanix_

[2018-05-29 07:37] htj commented on #72
Hi, sorry this may be an error in the meta data I send. It is often very difficult to see the difference between:

1. Terraform error
2. Terraform - REST API usage mismatch
3. REST API error message
4. Input error of some sort

Having poked a bit more at it yesterday, I think it might be the meta data. I cannot get it to accept anything, and it complains about not being valid Json, even though the

[2018-05-29 07:37] #72 closed

[2018-05-29 11:29] htj opened #114 "Terraform crash during vm re-create"
Hi

1. made a vm with terraform
2. deleted vm in prism
3. got crash when re-running terraform apply.

I know I'm not being nice, but an intent based tool should handle this.

cli output:

[code]

gist url for crash log: https://gist.github.com/htj/5f75f0c392542e9161f4d808c1ec800c

[2018-05-29 11:33] htj opened #115 "Feature requests: max length for metadata / userdata in guest customization"
Hi

The metadata/userdata fields in guest customization are often very long. This makes the output of apply quite large. Often multiple pages in what is already a big terminal (50x140), and it isn't really helpful. In fact it makes it harder to see what is happening. Often the data can also contain secrets, which one would prefer not to have shown on the terminal.

Only showing the first 30 charac

[2018-05-31 12:37] htj commented on #119
Given that this happens in setNicList and the VM has two NICs, the likely issue is that there are two NICs on the VM.

[2018-05-31 13:01] htj commented on #119
Any chance for a reasonably fast fix on this. It is pretty crucial to us.

[2018-05-31 13:02] JonKohler commented on #119
hey @htj  - thanks for reporting this. I'll have the guys look at it today

[2018-05-31 16:01] Crizstian commented on #119
Hey @htj i think you are not using the latest binaries, i have made a test creating a vm, 2 subnets and putting two nics to the vm, and everything went smoothly, we didn't push the latest binaries to the repo, i have build them again, please try again with the latest binaries and let me know if you still have problems.

[2018-06-01 05:48] Crizstian commented on #115
This is no issue, i have tested on the branch develop and it didnt prompt an error, it creates de vm correctly, closing this issue this is related to #119

[2018-06-01 05:48] #115 closed

[2018-06-01 06:09] Crizstian commented on #119
Hello @htj i have made some modifications to the code and i tested it with the following configuration:

[code]
please try again building the vm @htj with the latest binaries

i have tested it on branch develop using the latest binaries exported on this branch, and i got every ok
this is my output:

[code]

but when i try to make some updates to any of the arguments i'm having the following error:

[2018-06-01 06:31] Crizstian commented on #114
This does not happen any more with the latest binaries.

[2018-06-01 06:31] #114 closed

[2018-06-01 06:32] Crizstian commented on #111
This is related to #115 so i am closing this issue.

[2018-06-01 06:32] #111 closed

[2018-06-01 06:34] Crizstian commented on #91
This has been implemented in the Makefile

[2018-06-01 06:35] Crizstian commented on #90
Fixed

[2018-06-01 07:49] htj commented on #115
I agree this is not a feature as such, and that it works correctly right now.

This is an ergonomics / quality of life suggestion. It doesn't sound like that was well communicated.

[2018-06-01 08:14] htj commented on #119
Hi

My binary was from tuesday.

I've tried with both master and develop today, and I still get the same crash.

If you use cloud init customization you have to use the cloud image, so the test won't be very useful.

Anyway, looking at the code, it is fairly obvious what is wrong:

Line 221 in nutanix/data_source_nutanix_virtual_machines.go

            ip = utils.StringValue(v.IPEndpointList[0].I

[2018-06-01 09:06] htj commented on #114
Confirmed. Thanks for the fix.

[2018-06-01 09:08] htj commented on #111
#115 is a quality of life request. This is crash.

However this issue seems to be fixed, so we can leave it closed.

[2018-06-01 16:09] Crizstian commented on #119
Yes i agree with you @htj, the ip was left there because we saw it in a previous version of the plugin, i think this was to make a shortcut to access the value, but i will remove it, since the ip can be accessed from the nic_list attribute, and we can get rid of this bug.

[2018-06-04 09:18] htj commented on #119
This appears to be fixed in 5315889b9bd692eb1ca718301f28918938cb9273

[2018-06-04 12:29] htj opened #122 "Terraform wants to change VMs bootstrapped with cloud init"
Hi

This is a rather... interesting behaviour:

First I create two VMs with cloud init guest data with terraform. Stuff works.

After the two VMs, have been started, and I run terraform apply again, I get this:

[code]

I haven't changed anything in the terraform files.

What I think happens, is that nutanix creates a small iso with the cloud init data, and attaches it to the VM (actually I'm pret

[2018-06-04 13:24] JonKohler commented on #122
Terraform isn't doing anything with the cloud init ISO, but rather just telling the API to go "do something" related to cloud init, then the API does it under the covers.

@Crizstian - can we work around this in the short term?

[2018-06-04 20:53] htj commented on #122
Yeah, this doesn't quite fit the terraform model.

I think a potential work-around is to do the following when reading the response after vm creation:

if (cloudinit-stuff-defined)
  remove the cloud-init cdrom disk

This should make the disk schema fit with what is later read. I'll be happy to test this out if you make a branch for it first.

if (cloudinit stuff is

[2018-06-05 13:47] JonKohler commented on #122
i think thats sane. We'll see what we can do! Thanks again @htj for being the trailblazer for our project here, we really appreciate it!

[2018-06-05 13:47] JonKohler commented on #86
fixed

[2018-06-05 13:48] JonKohler commented on #85
fixed

[2018-06-05 13:48] #85 closed

[2018-06-05 13:48] JonKohler commented on #91
fixed

[2018-06-05 13:48] #91 closed

[2018-06-05 13:48] JonKohler commented on #83
fixed

[2018-06-05 13:48] JonKohler commented on #84
fixed

[2018-06-05 13:50] JonKohler commented on #57
will probably go in a different direction, and unify with code climate or another analysis tool, to get all of our reporting in a single place

[2018-06-05 16:14] Crizstian commented on #48
Hello @htj

This can be done now, by using the following configuration

[code]

The tests has passed, so i will close this issue, in case you still having problems feel free to re open the issue

[2018-06-06 01:45] JonKohler opened #127 "client/v3/v3_service.go - clean up bunch of TODO's"
There are a ton of "ctx := context.TODO()" in the v3_service.go

Are these actually real TODO's? or are these dead code snippets?

[2018-06-06 19:00] marinsalinas commented on #127
We need to add a context to make new http request and in golang we can use `context.TODO()` as a default context!

You can see more details on : https://golang.org/pkg/context/#TODO

[2018-06-07 06:43] htj commented on #48
Hi

I tried this resource:

resource "nutanix_image" "alpine-standard-3_7_0-x86_64" {

  name        = "alpine-standard-3.7.0-x86_64"
  description = "alpine-standard-3.7.0-x86_64"
  source_uri  = "file://alpine-standard-3.7.0-x86_64.iso"

}

(both with and with the file:// prefix). Error without prefix:

[code]

With file:// prefix.

[code]

Am I doing something wrong?

[2018-06-07 08:19] htj opened #133 "Error when refreshing image state"
After a failed image creation (see #48), terraform now consistenly fails with this message:

[code]

Which means I cannot get anywhere.

[2018-06-07 15:16] Crizstian commented on #132
Hello @htj could you please pass me the steps to reproduce this, because i am not able to make it crash.

[2018-06-07 15:34] #127 closed

[2018-06-07 15:48] marinsalinas commented on #62
You could se more details on: https://guides.github.com/introduction/flow/

Also here is a guide about how to protect branches in order to push directly on `master` : https://help.github.com/articles/configuring-protected-branches/

[2018-06-07 16:19] marinsalinas commented on #61
You could add this template using this tutotial: https://help.github.com/articles/creating-issue-templates-for-your-repository/

[2018-06-07 17:52] thetonymaster commented on #133
Hey @htj how can I reproduce this? What where the steps that caused this error? in #134 I am destroying the resource if the upload fails, but I can't reproduce this specific error message.

[2018-06-08 08:58] htj commented on #133
I think it was:

1. upload image from local image. Which fails for some reason
2. terraform apply

[2018-06-08 09:01] htj commented on #132
Hi. As I wrote, I cannot recall the exact conditions.

Looking at stack trace gives a pretty good hint though:

Line 132 in nutanix/resource_nutanix_virtual_machine.go
[code]

I'm betting that Status, Resources, or NicList is null.

[2018-06-08 17:57] Crizstian commented on #132
Hey @htj  Status and Resources won't be null ever, cause the API always responds this, if NicList is null, we already handle that scenario, so I will close this issue, and if you get this error again, please feel free to open it again, and share your configuration to be able to reproduce your steps.

[2018-06-08 18:00] Crizstian commented on #122
@htj @JonKohler I found out that when we use cloud_init values we can avoid using an image resource, because the cloud_init already provides an image, the problem the I still have is for updating a vm, but im still don't know if is an API error or is a provider error.

[2018-06-11 10:39] htj commented on #122
Hi again
I'm not sure what is going with the networking, but it is consistent. Here is where I do a second terraform apply right after a VM creation:

[code]

The VM is created with two nics: First is an internal boot network, and other is external interface (configured with puppet). Ideally I'd just like one, but the nutanix cloud-init solution doesn't make it possible to specify IP addresses via

[2018-06-11 23:00] cgriggs01 commented on #92
Hi Team,

I apologies for leaving you hanging, I have some time set aside this week to review work with you'll to get this provider ready.

- We use a GNUmakefile in all the providers. There are a number of methodd that must be included for the testing and deployment of the provider. I would suggest using the [AWS GNUmakefile](https://github.com/terraform-providers/terraform-provider-aws/blob/mast

[2018-06-12 00:59] JonKohler commented on #92
hey @cgriggs01 - thanks!

RE GNUmakefile
I've been doing a lot of work on builds today, ironically, I JUST deleted those shell scripts you mentioned, as I was building the logic into the GNUMakefile (and travis by extension) in a more graceful way.

I did this as those shell scripts (to me) feel like they leave gaps and (as I've seen here) tend to let a ton of code quality issues slip through (tha

[2018-06-12 03:39] JonKohler commented on #92
RE GNUmakefile
I've done a bit of comparing of both the AWS provider and the terraform core itself, and pulled out some goodies to standardize.

WRT Shell scripts
I've been doing a bit of a bake off tonight between gometalinter and golangci-lint, and golangci-lint spanks the pants off of gometalinter, in terms of ease of use, speed, and the whole 9 yards.

I've got this integrated fully into our t

[2018-06-12 05:29] JonKohler opened #139 "fix sanity testing issues"
I've added a dedicated build step for sanity testing, which is coming back with a handful of issues. This will help us with upstream acceptance.

Can we step through these and validate what needs to be fixed, and fix it?

You can see the log here: https://travis-ci.com/nutanix/terraform-provider-nutanix

And also access this via make sanity locally

[2018-06-12 08:20] htj commented on #122
Hi, I was looking a bit more into this. I dumped the spec of a VM right after creation, and then again after our automation had run. The specs in themselves are not very interesting, but diff shows at least one of the issues:

[code]

So, IP addresses of the first nic goes from:

[code]
to
[code]
I consider this be a rather small changed, but not something that should trigger an apply. Going from

[2018-06-12 16:11] JonKohler commented on #92
@cgriggs01

RE License
I've changed over develop/master branches to MPL2 on #143. Our counsel @victorhuang01 has signed off, so we're good to go.

[2018-06-13 02:54] JonKohler commented on #122
@Crizstian - does this give you enough to go on?

[2018-06-13 16:03] Crizstian commented on #122
Havent had the chance to review it, let me work on it and i will tell you

[2018-06-14 16:14] Crizstian commented on #139
Hello @JonKohler i have been fixing the sanity issues, but rhere some checks that are irrelevant like this ones:
[code]

There is no need to check an error for simple setters, only for complex setters is where are required to check if an error happens, otherwise if i add all the error checks for simple setters, the gocycle will increment,  so i will leave the decision to you, if you want me to set

[2018-06-14 17:03] JonKohler commented on #139
@cgriggs01 - What does hashicorp recommend for errcheck failures like this?

[2018-06-14 19:15] marinsalinas commented on #122
@JonKohler, @htj   we've made two scenarios one with cloud_init and another one without it, in the scenario where don't include cloud_init and we perform an update everything works OK, but where the configuration has the cloud_init it fails.

Here is the error message:

[code]

[2018-06-15 07:41] htj commented on #122
Hi

I've been able to make an update with cloud-init so it should be possible.

I've gotten the above message as well, but cannot remember for what. It might be that you have metadata specified. Basically you shouldn't bother with metadata, as you cannot really do anything useful with it on nutanix.

[2018-06-15 08:07] htj commented on #122
Oh, and you should definitely not change any of cloud init values.

[2018-06-19 14:21] JonKohler commented on #139
@cgriggs01 ?

[2018-06-19 14:23] JonKohler commented on #92
hey @cgriggs01 - we've made quite a bit of tuning in the last 7 days. Working diligently to get test coverage up, and its inching up bit by bit.

Is there anything else in our way of getting to the next phase? I dont want to rush, just want to make sure I understand the next steps properly

[2018-06-20 13:17] JonKohler commented on #61
https://github.com/nutanix/terraform-provider-nutanix/commit/325bc637b3168ad40d12780d6f31608e9056d191 done in develop, using to master

[2018-06-20 13:19] JonKohler commented on #139
bump @cgriggs01, we'd love to keep up the drum beat here

[2018-06-20 16:31] thetonymaster commented on #139
@JonKohler let me summon him

[2018-06-20 16:38] cgriggs01 commented on #139
Hey @JonKohler, sorry for leaving you hangin'.

Let me check with the Terraform team to get their opintion. We don't have this docuemented yet so its hard to say without diving into similar tests in other providers.

[2018-06-21 18:45] marinsalinas opened #150 "Add additional acceptance test configurations for nutanix resources and data sources."
**Is your feature request related to a problem? Please describe.**
We need to get at least 50% of code coverage to get the Hashicorp validation.

**Describe the solution you'd like**
We need to add more configurations in acceptance tests using more arguments than we have.

For example:
In `network_security_rules` resource and data source we need configuration using related arguments/attributes of:

[2018-06-22 17:49] JonKohler opened #151 "demo content (mockups, videos, gifs, etc) for internal/external"
per sunil -
 can we capture some draft mockups or demo videos to see the eventual outcome? ... internal consumption and then external marketing/awareness as we have a Beta etc available (via social media)

[2018-06-25 13:41] JonKohler opened #152 "Migrate from Travis to CCI"
we're going with CircleCI for other "stuff" and we want all of our projects in one place.

Long term, this will go teamcity when it goes upstream, but for now, let's consolidate where we can.

[2018-06-25 13:47] JonKohler commented on #139
ok thanks @cgriggs01 - and to be clear, this is flagging from errcheck, which is the standard errcheck that everyone runs if I recall correctly.

[2018-06-25 13:53] JonKohler opened #153 "Generate a changelog"
From provider feedback from chris:
```The provider must have a Changelog.md that will be modified during a versioned release of the provider. We suggest starting the changelog with 1.0.0 (Unreleased) as the first version. The "(unreleased)" part is necessary for the release process.```

Low hanging fruit to automate this would be: https://github.com/github-changelog-generator/github-changelog-gene

[2018-06-25 14:35] JonKohler opened #154 "documentation for the resource catagory_value and the data source catagory"
Per chris G on https://github.com/nutanix/terraform-provider-nutanix/issues/92
I do not see any documentation for the resource catagory_value and the data source catagory.

[2018-06-25 15:02] #153 closed

[2018-06-25 15:02] JonKohler commented on #92
@cgriggs01 -

RE Changelog - done here: https://github.com/nutanix/terraform-provider-nutanix/issues/153

RE Documentation gap - made a ticket, here: https://github.com/nutanix/terraform-provider-nutanix/issues/154

[2018-06-28 16:45] #154 closed

[2018-07-02 14:22] JonKohler commented on #139
@cgriggs01  - did you hear back?

[2018-07-02 16:04] JonKohler commented on #92
@cgriggs01 - I believe we've addressed all of the feedback here, can you confirm?

[2018-07-03 13:19] JonKohler opened #160 "Ability to resize a vdisk when deploying from image resource"
Pulling email thread to track as GH issue

The situation as reported by leonteq:

Answer from Jon

[2018-07-03 17:46] JonKohler opened #161 "Unit test for NewUploadRequest"
on https://github.com/nutanix/terraform-provider-nutanix/commit/c1a18361230badd10d2cd655e829c8c5d69db20f ... we added functions for uploading a local disk image

this commit did not come with an associated unit test, and has no coverage as a result.

There is a stub for NewUploadRequest test, but it does not have a test case associated with it.

[2018-07-03 17:48] JonKohler commented on #161
Also applies to func (op Operations) UploadImage within v3 service

[2018-07-05 03:01] JonKohler commented on #158
Fixed by switching golangci to non-vendored, and taking it out of path for tests. testing will run non-vendored (but pinned to a specific version) in travisCI, as well as with webhook integration to the golangci online service

[2018-07-05 03:11] JonKohler commented on #122
@htj - can you retry this with the RC1 code that is posted under releases?

[2018-07-05 03:11] JonKohler commented on #133
@htj - can you retry this with the RC1 code that is posted under releases?

[2018-07-05 03:12] JonKohler commented on #56
we've got a lot of loops, which I think is a bit inevitable with the way the code is currently. closing this out

[2018-07-05 03:12] #56 closed

[2018-07-06 19:17] JonKohler opened #164 "Push out volume group API"
PC VG API isn't ready for prime time yet, only the PE version launched in 5.8. Working with the internal developer to pull that API, but in the mean time, moving it to a "future" folder to get it out of the provider

[2018-07-10 12:06] htj commented on #122
Hi

Sorry for the long reply, but I think getting the details right is important :-).

Short version: It seems to be working now

I had to adjust the field name for cloud_init and remove name under disk. This is probably intentional.

I create a vm as usual, and on the second apply, I got this:

[code]

Terraform wants to change the size of the disk. This is due to me specifying disk size AND usin

[2018-07-10 12:11] htj commented on #133
Still getting this.

Full terminal output follows:

[code]

It looks like this occurs when doing a resource refresh and an image resource doesn't exists, even though terraform expects it to.

[2018-07-10 12:32] JonKohler commented on #122
WRT Cloning and changing the disk size
This is an API bug (or lack of functionality, however you look at it), but I've previously opened a GH Issue (#160) to let people know about it.

We've already committed the fix for it internally, its just waiting for a release vehicle to go out the door

[2018-07-10 12:56] htj commented on #122
Great. Our use case is the exact same as the guy in #160.

[2018-07-10 13:04] htj commented on #159
FYI: We have the exact same issue, and fix it by changing the image as mentioned above.

[2018-07-10 13:07] htj commented on #48
Hi, it seems I cannot open the request, but AFAICT this issue is not solved.

Just tried with latest git:
[code]

It is also not clear if a special syntax should be used for local files.

Also see #161

[2018-07-10 13:08] htj commented on #161
I cannot get local upload to work. Have updated #48 with log from latest attempt.

[2018-07-10 13:09] JonKohler commented on #48
yea, this particular function sucks and needs work for sure. Thanks for going through the pain here @htj - we'll get it right

[2018-07-10 13:19] htj commented on #48
Sure thing. You might want to re-open the issue (it seems that I cannot).

[2018-07-10 13:20] JonKohler commented on #48
indeed, good call, done!

[2018-07-12 19:39] thetonymaster commented on #133
Hey, as  stated on the documentation the correct attribute to upload an image is `source_path` https://github.com/nutanix/terraform-provider-nutanix/blob/develop/website/docs/r/image.html.markdown

@JonKohler I did not add validation here because of the regex for an URL can get a little bit nasty, I suppose the correct way would be checking if the URI field has a local address (it might be easy to

[2018-07-13 08:23] htj commented on #133
With TF_LOG=debug:

[code]

Seems a connection is used after it was closed.

[2018-07-25 14:05] Tfindelkind opened #165 "Example main.tf - guest_customization_cloud_init does not work"
**Describe the bug**
terraform shows an error that guest_customization_cloud_init key is unknown:
"...: invalid or unknown key: guest_customization_cloud_init"

**To Reproduce**
Try the example main.tf with guest customization.

**Versions (please complete the following information):**
 - OS WIN64 / gitBASH
 - Terraform v0.11.7
 - Nutanix Cluster 5.8
 - Nutanix Prism Central 5.8

**Additional cont

[2018-08-10 16:49] JonKohler commented on #160
knock on wood, this SHOULD be fixed in 5.8.1. I'm upgrading my internal environment to test this and other "stuff"

[2018-08-10 16:50] JonKohler commented on #161
@thetonymaster @marinsalinas @Crizstian - Can one of you guys loop back in and fix this? This was outstanding from the previous work

[2018-08-10 16:51] JonKohler commented on #164
Moved the VG APIs to future with these two commits
Moved files to /future/volume_group: https://github.com/nutanix/terraform-provider-nutanix/commit/c36374cffc70ee3e9c7888d7255e00fe8dfe96eb
Updated provider.go to comment these out: https://github.com/nutanix/terraform-provider-nutanix/commit/18d80a8bf3464d5639904b33e2e7ccccf2edb6ca

[2018-08-10 16:51] #164 closed

[2018-08-10 16:54] JonKohler commented on #139
I'm going to close this out as I never heard back from @cgriggs01 about this. Will bring this up when we go through terraform engineering code review

[2018-08-10 16:54] #139 closed

[2018-08-10 16:56] JonKohler opened #169 "hard code (kind) to be appropriate kind for each resource"
Let's do this so it doesn't *need* a metadata group in the .tf definition file. We're going to make this implicit in a future API update, so hardcode should be fine

[2018-08-10 20:01] thetonymaster commented on #161
@JonKohler will check this later. Since this is related to #48, did the call changed? I think I commented this on slack, but the function broke after the update to the test environment, did the request body changed?

[2018-08-29 04:31] mlavi opened #174 "Update URL in repo description: throws 404"
- Browse to https://github.com/nutanix/terraform-provider-nutanix
- See the description: Terraform Nutanix Provider https://nutanix.github.io/terraform
- Click through to the URL in the description
- Github http error 404 page shown

[2018-09-03 22:16] bill-rich opened #175 "Provider Review"
Hello!

My name is Bill, I'm a member of the Terraform team @ HashiCorp.

I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking remaining items and discussion. The review was done on the git commit 13167bf1042627

[2018-09-06 15:26] ranman166 opened #177 "VM cloning"
I'm trying to create a vm from either from cloning a snapshot or from a vm. I'm looking to do something comparable to a vcenter template.

Looking at the docs it seems there is cloud-id, but I would rather just clone off of some golden image style template than install and customize. Then I see there is a parent-reference variable, but I'm not sure of the syntax of what a kind is reference.

Basic

[2018-09-06 15:35] ranman166 commented on #177
Oh, I think i might have found it with the data "nutanix_image". I'll close this once i test it.

[2018-09-06 15:48] ranman166 commented on #177
Yup seems good. Thanks!

[2018-09-06 15:55] JonKohler commented on #177
Glad you got this sorted. For posterity, can you post your .tf code, so that others who may stumble upon this could get the same hints you got?

Thanks,
Jon

[2018-09-06 17:50] ranman166 commented on #177
Sure thing. Actually I didn't get it working quiet yet, but I found what I thought would be correct. I'm still having issues identifying if my "kind" and "uuid" are correct for cloning a vm.

[code]
My vm has a listed ID but not UUID does this matter or are they equivalent? Also the [references](http://developer.nutanix.com/reference/prism_central/v3/#Definitions-disk_reference) of "kind" that I a

[2018-09-06 21:20] JonKohler commented on #177
We're doing some heavy work on the project over the next week, so this may be a moot point here shortly. Let's keep it open to track, but would be good to re-test on rc2 when its available.

[2018-09-07 01:32] JonKohler commented on #175
Taking care of some of the very low hanging fruit stuff (documentation, formatting tweaks, etc). For heavier weight things, we'll break them out

[2018-09-07 01:46] JonKohler commented on #170
@marinsalinas it looks like you reverted my partial fixes for this, is that right? The challenge with this is that the DHCP Options section in the API has a bunch of stuff nested in it.

I wanted to match them up so it made is straight forward on how terraform HCL would translate to to the API and vice versa.

lemme know

[2018-09-07 01:47] JonKohler commented on #152
Not going to waste time with this, specifically because once this goes upstream, it will be all handled by Hashi's teamcity

[2018-09-07 01:47] #152 closed

[2018-09-07 01:50] JonKohler commented on #59
We're going to take care of this as part of the new api review pipeline, doesn't need to be done on a per-project basis like this.

[2018-09-07 01:50] #59 closed

[2018-09-07 01:51] JonKohler commented on #39
We have latest GA, which is going to be fine, since the API we're using here isn't GA in LTS, but is in STS.

So, we'll stay on latest STS, until LTS gets v3 API GA

[2018-09-07 01:51] #39 closed

[2018-09-07 01:52] JonKohler commented on #62
Way back when, I configured protected branching for master, and switched develop to the default branch. closing this out.

[2018-09-07 01:52] #62 closed

[2018-09-07 01:53] JonKohler commented on #60
We need to bake this at a more fundamental level. I've got a meeting with the new IP counsel internally with luke k too, so we'll bring this up.

[2018-09-07 01:55] JonKohler commented on #159
Still be on the dock for 5.9, which is making its way through the QA machine at large. Public ETA isn't published (As thats a bit forward looking), but its in flight.

[2018-09-07 01:56] JonKohler commented on #160
GCP is upgraded to 5.8.1, we should be able to do this, but will need to check when get through this sprint to bake the rc2 deliverable

[2018-09-07 02:01] JonKohler commented on #177
ok, reading through this again @ranman166 - I see what you're running into. The whole ID vs UUID thing is going to be fixed in the current development sprint, thats already being hacked away at.

Nutanix calls everything internally UUID's within this API, so we're going to try to be consistent.

WRT Git pages - That shouldn't have been there in the first place, my mistake. #174 called this out jus

[2018-09-07 15:59] ranman166 commented on #177
Ok that's the direction I was going initially. The "nutanix image" default metadata entry was giving me errors, so I pulled it out to see what the issue was.

From some different sources I've found out that the "ID" listed in prism is the same as the UUID returned from the ncli api calls (ncli vm ls name=****), so I believe the id I have above should work. I was also informed that for the disk ref

[2018-09-07 18:44] ranman166 commented on #177
Ohhh, I just read some of the docs. My endpoint is going towards prism and not prism central. I'm assuming that is the issue then. Otherwise I'm at a loss.

[2018-09-07 22:17] marinsalinas commented on #170
Yes,  I reverted because it was causing problems, I think it's better to keep like I propose because terraform only allows maps with strings inside.

[code]

I  moved `name_server_list` and `domain_search_list` to the schema's root.
It is OK for you?

[2018-09-10 20:44] marinsalinas commented on #170
@JonKohler it is OK on the develop branch?

[2018-09-10 20:48] JonKohler commented on #170
@marinsalinas Well, it would be nice if the schema in terraform matched the schema in the API. I have a feeling that a ton of early access folks on here do NOT use this feature, so now would be the time to make this change, such that the two areas match

[2018-09-11 20:12] thetonymaster opened #183 "Disk not created with VM?"
After creating a Virtual machine with an image and a disk this is the output of the plan.

An execution plan has been generated and is shown below.
Resource actions are indicated with the following symbols:
  ~ update in-place

Terraform will perform the following actions:

  ~ nutanix_virtual_machine.demo-01-web
      disk_list.0.disk_size_mib: "44" => "5000"

Plan: 0 to add, 1 to change, 0 to de

[2018-09-12 04:14] jttrail0 opened #185 "Can host affinity be added?"
A large project was stalled today when we were unable to delegate host affinity today in relation to Prism Central/v3 API, we had not realized it was a feature that no longer existed.  This was kind of an essential feature to spinning up and tearing down a big data cluster in which we do NOT want to migrate in the event of node failure.

It appears your client.go only uses the v3 as well as I did

[2018-09-12 15:53] marinsalinas commented on #170
@JonKohler the thing here is if you want to match with the API putting  `domain_server_list` and `domain_search_list` inside `dhcp_options`  will not work because terraform only allows using strings inside a `TypeMap`.

The alternative is to make `dhcp_options` TypeSet or TypeList with one element on this types we are able to put whichever data type inside.

let me know if you want to keep all lik

[2018-09-13 12:20] benaka47 opened #187 "Unexpected behavior when refreshing VM state"
Hi

I'm creating a VM like follows :
[code]
The virtual machine is successfuly created, but when rerunning

terraform is asking to create a new VM ressource

`Plan: 1 to add, 0 to change, 0 to destroy.`

This led me te verify if the refresh is actually working so i ran

when I checked the terraform.state file, the "nutanix_virtual_machine.terraform-01-test" block disappered

Environnement: Win64 ,

[2018-09-13 15:50] ranman166 commented on #177
Ok, I have access to prism central now; however, I am still have issues.  All of the examples you have are using images. Do you have an example of cloning from a vm?

I'm having issues with defining a vm as an image.
[code]

[2018-09-13 15:51] JonKohler commented on #177
We can mock up an example. Give us a bit of time to re-stablized the develop branch, as that is what we're solely focused on right now. Not that we dont want to help, just that we've got a big ole chunk of work to do, and there may be changes.

[2018-09-13 15:59] JonKohler commented on #185
Hey there @jttrail0 - thanks for reaching you. I know exactly what you're talking about. Funny, I just got another email internally about this same thing, like like it was forwarded on a few times from yourself. I've asked our team to add me to that mail as well.

You are right that our client.go is v3 only. I did this very intentionally, as the v3 API will be the way of the future, but you're spo

[2018-09-13 16:00] JonKohler commented on #183
Tony and I figured this out. There was a syntax issue on the state file that caused this to blow up. We resolved this in slack without a code fix.

[2018-09-13 16:00] #183 closed

[2018-09-17 20:13] JonKohler commented on #187
Hey @benaka47  - thanks for the report. Note, we've been doing a metric ton of work post-rc1 in to the develop branch, and have not yet forked rc2 or synced develop to master.

As such, you'd want to retry this by compile from develop HEAD instead of rc1 or master.

Note though - we've got a little bit to go before we cut rc2, but this is under active development right now

[2018-09-19 16:53] thetonymaster opened #194 "Add VM Power States constants on client"
Create a `PowerState`type and a set of variables that describe each of the power states on the VM, such as `PowerState_ON`, PowerState_OFF, etc.

[2018-09-20 12:43] benaka47 commented on #187
Thank you @JonKohler !
 The VM ressource refresh is working fine with the develop branch

[2018-09-20 21:20] JonKohler commented on #175
Hey @bill-rich - making good progress here, quick question though.

according to the team, the below two items in the review has not been requested from previous providers before. To complete these will be quite time consuming, just wondering if perhaps provider standards have changed in this regard recently? or if our understand of these is incorrect?

-Add descriptions in schema.
-Check error wh

[2018-09-21 07:48] MuellerMH opened #196 "Bug | Resource subnet | not possible to set ip_config_pool_list_ranges"
**Describe the bug**
If you want to configure a managed subnet with automatic IP address assignment with the resource subnet, you have to define an IP range so that VMs can be assigned later. If you set the parameter in the resource subnet, the RegEx validate will fail.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a subnet resource
[code]
2. Add DHCP and Ip Config Pool
3. A

[2018-09-24 15:16] ranman166 commented on #177
Bump, just wondering if there is any progress with this. Thanks!

[2018-09-24 18:04] bill-rich commented on #175
The descriptions can actually be skipped. It is a nice to have and is used for things like document generation, not necessary.

The error handling on Set hasn't always been enforced in the past since errors coming from Set are pretty uncommon, but in an attempt to stick with with Go best practices, we're trying to handle errors wherever possible.

[2018-09-24 18:35] marinsalinas commented on #196
Hello @MuellerMH

The issue here is you should set this field with the following regex `"^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)[ ](?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"` that means you have to set all the range in one element in  `ip_config_pool_list_ranges` array.

The following configuratio

[2018-09-24 21:05] JonKohler commented on #175
ok @bill-rich. We've polished off every single other task besides these two.

In talking with @thetonymaster, he's working directly with Hashi on other providers, like AzureStack, and he's mentioning that this didn't get enforced there.

Putting description comment aside for a second, for the go errors, those may be challenging to unit test and make sure they actually work, meaning a lot of work f

[2018-09-24 21:06] thetonymaster commented on #175
@bill-rich

This definitely can be an improvement in the near future

I can understand where this goes, however, my only concern here is the code coverage, and how to improve it with those chances since I don't see an (and succinct) easy way to test each of the variations, and most of the operations are `Set`.  Granted, this happened before with non-scalar values, however since now all of them hav

[2018-09-24 21:09] JonKohler commented on #177
@marinsalinas can you look at this?

[2018-09-24 23:00] bill-rich commented on #175
@JonKohler @thetonymaster I see the concern there with sacrificing code coverage for error checking on scalar values, and appreciate you working through the balance with me, but I think it is important to at least cover the non-scalars. Although it results in better test coverage to have checks on the values before setting them, you're then relying on those checks to always work as intended.

[2018-09-24 23:54] marinsalinas commented on #177
Hello @ranman166

The following configuration shows how to copy the image_id from VM datas_source to new VM, let me know if it works for you:

[code]

Let me know if is there any issue with the configuration.

P.S. This works on the develop branch.

Thanks!

[2018-09-25 16:44] #196 closed

[2018-09-26 20:10] diegomezgarcia87 opened #199 ""No permission to access the resource. \u003cRequest 'http://xxxxx:9440/v3/vms' [POST]\u003e""
Hi guys

i've been trying to use TF provider to create a VM, so when i apply the changes the response is 403 error code.

* nutanix_virtual_machine.manager: error: {
  "api_version": "3.1",
  "code": 403,
  "message_list": [
    {
      "message": "No permission to access the resource. \u003cRequest 'http://xxxxx:9440/v3/vms' [POST]\u003e",
      "reason": "ACCESS_DENIED"
    }
  ],
  "state": "ER

[2018-09-26 21:16] phantomis commented on #199
Same here, facing the same problem.

[2018-09-26 21:42] JonKohler commented on #199
Hey folks - when you hit create issue > bug report here on GH, it had a bit of a template to help capture some info

Specifically -
**Versions (please complete the following information):**
 - OS
 - Terraform
 - Nutanix Cluster
 - Nutanix Prism Central

Also
1) Can you post the relevant snippets from your main.tf beside the provider configuration?
2) What version of the terraform provider? Are you

[2018-09-26 21:46] JonKohler commented on #187
Thanks for reverting back, closing this out since you mentioned its working from develop

[2018-09-26 21:46] #187 closed

[2018-09-26 21:48] JonKohler commented on #177
@ranman166 can you retry this with the develop branch, with Marin's comments above? Please reopen the ticket if you've still seen an issue there

[2018-09-26 21:48] #177 closed

[2018-09-26 21:49] JonKohler commented on #170
@marinsalinas  remind me, where are we at with this? did we say just leave it as is? or are you doing a commit for this?

[2018-09-26 21:53] JonKohler commented on #169
@marinsalinas We should do this for anything where the kind is 1:1, like this:

  cluster_reference = {
    kind = "cluster"
    uuid = "${data.nutanix_clusters.clusters.entities.0.metadata.uuid}"
  }

[2018-09-26 21:55] JonKohler commented on #165
As part of our scope to enhance the example, can you add this there? Let's just test it, then comment it out, as not all customers will want to do this.

[2018-09-26 21:57] JonKohler commented on #161
hey @thetonymaster and @marinsalinas - can we circle back on this?

[2018-09-26 21:58] JonKohler commented on #60
well circle back on this as part of a larger open source effort. closing for noise reduction now

[2018-09-26 21:58] #60 closed

[2018-09-26 22:01] JonKohler commented on #122
hey @marinsalinas - did we fix this naturally as part of the current sprint we're on? My memory says maybe, but I figure you might know

[2018-09-26 22:04] JonKohler commented on #150
hey @marinsalinas - Whats the coverage report look like these days? Are these still valid areas that need work?

[2018-09-26 22:08] phantomis commented on #199
Sorry, y just realized the template you said.

From my side:

OS: Fedora 28
Terraform: v0.11.8
Nutanix Cluster: ?
Nutanix Prism Central: 5.8
Terraform-provider-nutanix: rc1

main.tf file
[code]

Error:

Expected: create a VM
Actual: Error calling the API with the message;
[code]

[2018-09-26 22:16] JonKohler commented on #199
We're on the cusp of releasing RC2, which has a metric ton of improvements. RC1 has quite a few issues, especially with AOS 5.8

If you're comfortable building the provider (which the readme.md has instructions for), do that from the develop branch, and retry this.

If it still doesn't work, please let us know. Otherwise, if you could wait for a few days for rc2, we'll get that posted.

[2018-09-27 12:51] ranman166 commented on #177
Still having issues, but It might be because I'm am working on the release provisioned. I'll test it using the develop branch when I can get that chance.

I also thought it might be because I am trying to use a vm not created by terraform to clone, but just testing this verbatim results in errors.

Thanks for all you help.

[2018-09-27 14:56] diegomezgarcia87 commented on #199
Hi Jon

I builded the provider from develop branch updated to yesterday (09/27). Another antecedent is we are pivoting to another machine with ssh tunnel. For some reason the plugin change the API request path form /api/nutanix/v3/vms to /v3/vms when i use nutanix server IP.

[2018-09-27 21:32] thetonymaster commented on #175
@bill-rich

If I remember correctly, for non-scalar values we have them covered with the error checking. For scalar values, the package `utils` already does a check for this, the behavior of each of the functions prevents an error to occur if the value that comes from the struct is nil, it returns the default value, such as `0`, `""``false`, etc. I don't know if another behaviour would be desirabl

[2018-09-28 20:49] bill-rich commented on #175
@thetonymaster Sorry about that. I thought I'd seen some non-scalars that were missed, but I seem to have been mistaken on that. If you've got the non-scalars all checked and the are confident in properly handling scalars that are returned as the default, I don't think this is a blocking issue. More of an observation/suggestion to help make sure you don't run into problems in the future.

[2018-09-28 20:52] bill-rich commented on #175
Looking through one more time, I did notice one other item that could be improved some. Don't need anything too crazy here, just want to exercise the primary functions and make sure they're behaving as expected. Sorry I missed this on the first pass.
- [ ] Add additional acceptance tests for updating, importing and checking that the expected values are returned.

[2018-10-01 20:03] #161 closed

[2018-10-02 15:34] thetonymaster commented on #175
@bill-rich can you check it again, we added the update tests

[2018-10-02 15:49] JonKohler commented on #205
I'm curious, what does that unroll to, when the variables execute:
ip   = "${var.ip_start}${88+count.index}"

Meaning, if you were to manually type that out, what would you expect the field to actually say?

Past that, after you set the apply the first time, what does the state SAY the value is?

[2018-10-02 16:00] JonKohler commented on #163
This is an excellent Hacktoberfest item if someone wants to take a swing at it.

[2018-10-02 16:01] JonKohler commented on #150
This is an excellent item for Hacktoberfest. If anyone needs credentials to a cluster to start hacking on this, please let me know and I'll make it happen

[2018-10-02 16:01] JonKohler commented on #133
@thetonymaster is this fixed with your recent commits?

[2018-10-02 16:01] JonKohler commented on #48
@thetonymaster same with this one, is this fixed with your recent commits?

[2018-10-02 16:02] JonKohler commented on #165
This is another good one for Hacktoberfest ... just an example update, but of course we'd need to make sure it works.

[2018-10-02 16:03] JonKohler commented on #194
This would be another good one for Hacktoberfest, seems like it could be low hanging for an external contributor.

That said, if it doesn't get accomplished that way, we'll want to do it any way we can.

[2018-10-02 16:18] thetonymaster commented on #205
May we get a complete configuration file? thanks!

[2018-10-02 16:39] BartJoris commented on #205
@thetonymaster sure:

main.tf
[code]
terraform.tfvars
[code]

[2018-10-02 19:27] thetonymaster commented on #150
@JonKohler can you share the values to perform this tests?

[2018-10-02 20:05] thetonymaster commented on #48
@JonKohler yes it was, also @htj was using the wrong attribute, `source_path` should be used instead of `source_uri ` when local images are used.

[2018-10-03 01:10] JonKohler commented on #48
Should be fixed with Tony's latest commits over the past few days.

[2018-10-03 01:10] #48 closed

[2018-10-03 01:11] JonKohler commented on #133
Should be fixed with Tony's latest commits. We've added more verbosity as well as unit testing for this.

[2018-10-03 01:11] #133 closed

[2018-10-03 15:27] JonKohler commented on #199
ok, that doesn't make any sense. If this was the case, literally nothing would work, so something is wrong somewhere.

@marinsalinas @thetonymaster can you help debug here?

[2018-10-03 15:28] JonKohler commented on #175
hey @bill-rich - following up on Tony's comments, Tony and team have added the tests. How are we looking from your perspective?

[2018-10-03 20:28] JonKohler commented on #177
You need to use the develop branch

[2018-10-05 22:28] bill-rich commented on #175
Sorry @thetonymaster, I missed the import steps added in to the other tests. That solution looks good to me.

On the `nutanix_network_security_rule` tests, it is important to be able to test the functions for all the resources included in the provider. Is `update` not currently working, or is it just a matter of how to implement the tests?

[2018-10-08 16:45] JonKohler commented on #175
@bill-rich yes, we're moving the network_security_rule to a future release until we can get the test environment working for that feature. In the mean time, the other guys should be ready to go.

Was that the only remaining issue? or is there anything else still outstanding @bill-rich ?

[2018-10-08 18:22] simonfuhrer opened #208 "data resource nutanix_virtual_machine always results in an error"
**Describe the bug**
The data ressource "nutanix_virtual_machine" does not work. the following small example gives an error.

[code]

`data.nutanix_virtual_machine.testvm: data.nutanix_virtual_machine.testvm: Invalid address to set: []string{"nic_list", "0", "subnet_reference_name"}`

**Expected behavior**
 "terraform apply" should run without an error

**Logs**
[code]

[code]

**Versions (please

[2018-10-08 18:58] bill-rich commented on #175
That was the last question I had. I think we're set to go. Thanks for working through the changes!

[2018-10-08 19:03] JonKohler commented on #175
ok fantastic @bill-rich - whats the next step? I haven't been through this process before. cc @cgriggs01

[2018-10-08 20:04] cgriggs01 commented on #175
This is great, we can move forward to the release process.

@JonKohler I will reach out via email to explain the release phase.

@bill-rich - you can close this issue now.

[2018-10-08 20:16] JonKohler commented on #175
Thanks @cgriggs01 ! I'll just close this out since im already on the page, and I'll look for your email! cheers, jon

[2018-10-08 20:16] #175 closed

[2018-10-09 01:34] #208 closed

[2018-10-09 11:55] htj commented on #133
Hi

Just tested with latest git from today and with AHV 5.8.2. Image upload seems to work now. Thanks.

[2018-10-10 18:40] diegomezgarcia87 commented on #199
Hi guys i have more information regarding this issue, Prismcentral has been updated to 5.8.2 version and now has ssl certs enabled.

when i want to create an VM with TF provider i have the next error:

**No permission to access the resource. \u003cRequest 'http://ntxprismctral.server.cl:9440/v3/vms' [POST]\u003e"**

The weird is that the URL changed from **https** to **http** and the PATH from **/

[2018-10-11 20:29] diegomezgarcia87 commented on #199
Hello again guys, the issue was i missed project_reference property, so i was using the default project and i cant create VMs on it.

[2018-10-22 16:14] LiginGeorge opened #214 "Static IP in nutanix terraform provider"
Facing issue while running transformer for  assigning static IP and son on .

Here i am mentioning the terraform file details for your reference

Please let us know how can i assign static IP and gateway details for the same.

provider "nutanix" {
  username  = "admin"
  password  = ""
  endpoint  = "<ip address>"
  insecure  = true
  port      = 9440
}

locals {
  cluster1   = "000576c5-7eaf-4e56

[2018-10-25 18:48] pipoe2h opened #215 "nutanix_clusters data source makes crush Terraform"
**Describe the bug**
A simple Terraform file with the following code for nutanix_cluster data sources makes crash Terraform:

`data "nutanix_clusters" "clusters" {
}`

`terraform apply        122ms  Thu 25 Oct 19:36:13 2018
data.nutanix_clusters.clusters: Refreshing state...

Error: Error refreshing state: 1 error(s) occurred:

* data.nutanix_clusters.clusters: 1 error(s) occurred:

* data.nutani

[2018-10-30 07:49] tuxtof opened #4 "Nutanix Self Service integration"
Allow interact with Nutanix Calm

new resources / data sources to implement
- nutanix_calm_cloud_provider
- nutanix_calm_project
- nutanix_calm_application
- nutanix_calm_blueprint
- nutanix_calm_marketplace_blueprint
- nutanix_calm_environments

[2018-10-30 07:52] tuxtof opened #5 "Nutanix Files interaction"
Allow interact with Nutanix Files

new resources / data sources to implement

- nutanix_files_file_server
- nutanix_files_share
- nutanix_files_export

[2018-10-30 07:54] tuxtof opened #6 "Nutanix Karbon interaction"
Allow interact with Nutanix Karbon

new resources / data sources to implement

- nutanix_karbon_cluster

[2018-11-01 08:58] olljanat opened #216 "Example config is not valid"
**Describe the bug**
When I run command *terraform validate* with example config (and just build version of this plugin) it gives error:
[code]

If I remove this line from *main.tf* then validation works:
[code]

[2018-11-01 17:10] JonKohler commented on #216
Also, we'll want to move this issue to the terraform providers repo, since thats the upstream copy

[2018-11-01 17:29] olljanat commented on #216
@JonKohler PR against of develop branch on https://github.com/terraform-providers/terraform-provider-nutanix ?

Sure I can do that and actually it is nice to hear that PRs are welcome. I just started investigate if I'm able to migrate our terraform-provider-vsphere resources to this one so I'm quite sure that I will create more issues and PRs later. You have been warned :)

[2018-11-13 15:05] ranman166 opened #217 "Datasources for categories"
We are looking to be able to reference categories without having them managed as resources.

For instance, we want to be able to create a bunch of category keys and later have users add values if needed and reference them within their vm creation without having users create or destroy the keys.

A win would be referencing them without having to deal with the "id" within the vm resource. We could d

[2018-11-14 22:03] Priteshkal commented on #177
Hi,

I am working with @ranman166 on this same issue and will be following up on this.

I have been trying to test this with the solution provided by @marinsalinas but without provisioning 2 VM's but rather using a UUID of an already provisioned VM on AHV -- this is failing with the following error.
[code]

I think this is because in the example provided by @marinsalinas, when we give the uuid as:

[2018-11-15 16:33] Priteshkal commented on #165
Is there any update on this? I am also running into this same problem when I am trying to use guest_customization_cloud_init to set the hostname for a clone vm.

Thanks

[2018-11-20 20:21] JonKohler opened #8 "Datasources for categories"
From @ranman166 on https://github.com/nutanix/terraform-provider-nutanix/issues/217

[2018-11-20 20:21] JonKohler commented on #217
Hey @ranman166, my apologies on the slow responses to everything over the past several weeks. Dealing with a death in the family that hit me harder than expected, and other work deliverables led to terraform slipping through the cracks big time.

I'm going to move this over to https://github.com/terraform-providers/terraform-provider-nutanix, and archive this repo, as the terraform-providers is th

[2018-11-20 20:21] #217 closed

[2018-11-20 20:24] JonKohler opened #9 "Example config is not valid for power_state"
from https://github.com/nutanix/terraform-provider-nutanix/issues/216 @olljanat

[2018-11-20 20:26] JonKohler opened #10 "nutanix_clusters data source makes Terraform crash"
from https://github.com/nutanix/terraform-provider-nutanix/issues/215 @pipoe2h

**Describe the bug**
A simple Terraform file with the following code for nutanix_cluster data sources makes crash Terraform:

`data "nutanix_clusters" "clusters" {
}`

`terraform apply        122ms  Thu 25 Oct 19:36:13 2018
data.nutanix_clusters.clusters: Refreshing state...

Error: Error refreshing state: 1 error(s)

[2018-11-20 20:27] JonKohler opened #11 "Static IP in nutanix terraform provider"
from https://github.com/nutanix/terraform-provider-nutanix/issues/214 @LiginGeorge

Facing issue while running transformer for  assigning static IP and son on .

Here i am mentioning the terraform file details for your reference

Please let us know how can i assign static IP and gateway details for the same.
[code]

[2018-11-20 20:31] JonKohler opened #12 "nutanix_virtual_machine, ip_endpoint_list not correctly working"
from @BartJoris on https://github.com/nutanix/terraform-provider-nutanix/issues/205

May have been fixed by https://github.com/nutanix/terraform-provider-nutanix/pull/206, but need to validate

**Describe the bug**
When you specify ip_endpoint_list for nutanix_virtual_machine. It works fine, but if you rerun "terraform apply" it gives an error.

[code]
**Expected behavior**
Rerunning "terraform ap

[2018-11-20 20:31] JonKohler commented on #205
My apologies on the crazy delay. see my comments on other issues, I'm moving this over to the terraform-providers org, which is the go-forward upstream repo.

[2018-11-20 20:56] JonKohler opened #13 "nutanix AHV host affinity support"
from https://github.com/nutanix/terraform-provider-nutanix/issues/185 @jttrail0

My original response:

[2018-11-20 23:12] alias-dev commented on #6
I put [this schema](https://gist.github.com/alias-dev/849291b6059a74d5c76edadd80dccb59) together as a start on this. Is the intention to add Karbon endpoints to the V3 API before it's GA or will it stay separate? I'm happy to put some time in if the API's stable enough to be worth investing it

[2018-11-25 00:11] ranman166 commented on #217
I totally understand. Sorry for your loss.

[2018-11-26 14:02] JonKohler commented on #185
Moved to https://github.com/terraform-providers/terraform-provider-nutanix/issues/13 to track long term

[2018-11-26 14:02] #185 closed

[2018-12-10 18:07] marcelkleine opened #219 "Can DR Runbooks be added to provider"
Can the new DR functionality (Runbooks etc) be added to the TerraForm provider as resources?
How do we make sure new features in PC are added as resources in Nutanix TF provider?

[2018-12-30 05:27] sandeepmp commented on #10
!!!!!!!!!!!!!!!!!!!!!!!!!!! TERRAFORM CRASH !!!!!!!!!!!!!!!!!!!!!!!!!!!!

Terraform crashed! This is always indicative of a bug within Terraform.
A crash log has been placed at "crash.log" relative to your current
working directory. It would be immensely helpful if you could please
report the crash with Terraform[1] so that we can fix this.

When reporting bugs, please include your terraform versi

[2018-12-31 01:20] ghost opened #15 "Provider doesn't support resource: nutanix_volume_group"
_This issue was originally opened by @sandeepmp as hashicorp/terraform#19899. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

### Expected Behavior

### A

[2019-01-08 23:03] podwhitehawk commented on #10
I'm experiencing same behavior when Terraform crashing when using `data "nutanix_clusters" "clusters" { }`.
Tested against:
Nutanix Version 5.8.2 - Ultimate License
NCC Version: 3.6.1
LCM Version: 2.0.2257
Terraform provider version (1.0.0)
I've tried all available Terraform versions from 0.11.8 to 0.11.11.
Also I've tried to use it with 0.12.0-alpha4, but it's totally unusable with error "incompa

[2019-01-10 15:23] joncak opened #17 "Unable to obtain Private_IP as a Output"
Hi, we're unable to get the private IP from the Created VM, the nutanix api its returning the correct value but terraform its getting zero values.

# Terraform Version
[code]

# Terraform Configuration Files
[code]
# Terraform Debug Output
[code]
# Nutanix API Response
[code]

[2019-01-10 15:24] pbaezab commented on #17
We have the same problem. Please!

[2019-01-15 18:00] guglez opened #18 "Can't apply just a single resource "nutanix_image""
Hi @JonKohler ,

I'm doing initial configuration of terraform with nutanix. I defined only one resource:

[code]

I expect that terraform will create an image on my cluster.
However I have this error:

[code]

I also can't create a vm from example config. Could you please take a look here?

[2019-01-18 17:12] rmatinata commented on #15
I can see that that source code is in the `futures` source folder... Plans to move it in ?

[2019-01-22 19:37] rmatinata opened #19 "ip_address not available as nutanix_virtual_machine attribute."
**Describe the bug**
ip_address not available as nutanix_virtual_machine attribute.

[code]

**Expected behavior**
ip_address available as an attribute.

**Versions (please complete the following information):**
 - CentOS 7.x
 - Terraform 0.11.11
 - Nutanix Cluster 5.10.07
 - Nutanix Prism Central 5.10.07
 - Terraform provider version - compiled from master

**Additional context**

It seems that t

[2019-01-25 21:20] JonKohler opened #20 "nutanix_image: long running image create completes successfully at 10 minutes, without getting success call from API"
**Describe the bug**
When an image create call runs longer than 10 minutes, terraform stops at 10m1s and calls the configuration complete; however, the state file is invalid because it does not get the computed values from the API, since the API has not finished processing the async API creation.

In the case we looked at today, for whatever reason, an ISO creation took ~22-ish minutes on the Pris

[2019-01-30 19:55] JonKohler opened #21 "Example main.tf - guest_customization_cloud_init does not work"
Moved from: https://github.com/nutanix/terraform-provider-nutanix/issues/165

**Describe the bug**
terraform shows an error that guest_customization_cloud_init key is unknown:
"...: invalid or unknown key: guest_customization_cloud_init"

**To Reproduce**
Try the example main.tf with guest customization.

**Versions (please complete the following information):**
 - OS WIN64 / gitBASH
 - Terraform

[2019-01-30 19:55] JonKohler commented on #165
Moved to https://github.com/terraform-providers/terraform-provider-nutanix/issues/21

[2019-01-30 19:55] #165 closed

[2019-01-30 19:58] JonKohler opened #22 "DR Runbook support"
from @marcelkleine on https://github.com/nutanix/terraform-provider-nutanix/issues/219

This functionality is exposed from Prism Central, so this would need to become a new resource/datasource/etc within the current codebase framework.

[2019-01-30 19:58] JonKohler commented on #219
moved to https://github.com/terraform-providers/terraform-provider-nutanix/issues/22

[2019-01-30 19:58] #219 closed

[2019-01-30 19:59] JonKohler commented on #194
When @marinsalinas and I were discussing this previously, I believe we agreed that we're not going to expose powerstates, similar to other public cloud providers, where VM instances are either ON (from a desired state perspective), or non-existant

[2019-01-30 19:59] #194 closed

[2019-01-30 20:00] #151 closed

[2019-01-30 20:03] JonKohler opened #23 "Ability to resize a vdisk when deploying from image resource"
from https://github.com/nutanix/terraform-provider-nutanix/issues/160

The situation as reported by leonteq:

Answer from Jon

Scope of work here is to validate that the resizing API works as expected. Given 5.6 thru 5.9 releases are short term support, I dont suspect we need to add version-specific checking logic for this, but rather say that the provider is supported on 5.10.x++ releases, which

[2019-01-30 20:03] JonKohler commented on #160
moved to https://github.com/terraform-providers/terraform-provider-nutanix/issues/23

[2019-01-30 20:03] #160 closed

[2019-01-30 20:06] JonKohler commented on #122
Need to validate resizing under https://github.com/terraform-providers/terraform-provider-nutanix/issues/23

And cloud_init related functionality needs a bit smoking out here: https://github.com/terraform-providers/terraform-provider-nutanix/issues/21

Moving this repo and issues to the upstream repo, so there is ONE single view of code and issues

[2019-01-30 20:06] #122 closed

[2019-01-30 20:07] JonKohler opened #24 "Add additional acceptance test configurations for nutanix resources and data sources"
Moved from https://github.com/nutanix/terraform-provider-nutanix/issues/150

**Is your feature request related to a problem? Please describe.**
We need to get at least 50% of code coverage to get the Hashicorp validation.

**Describe the solution you'd like**
We need to add more configurations in acceptance tests using more arguments than we have.

For example:
In `network_security_rules` resource

[2019-01-30 20:08] JonKohler commented on #150
moving to upstream repo #24 (see link above)

[2019-01-30 20:08] #150 closed

[2019-01-30 20:09] JonKohler opened #25 "Ability to add a serial port to a VM"
Moved from https://github.com/nutanix/terraform-provider-nutanix/issues/159

The situation as reported by leonteq:

Answer from Jon

This is similar to the issue about resizing disks, the API support is now there in 5.9+, and 5.10 as such, so we'll need to validate and make sure its documented correctly here.

[2019-01-30 20:10] JonKohler opened #26 "Implement HTTP proxy capability at provider level"
IBM CAM desires this. It looks trivial from the way that AWS implemented it, which can you see here: https://github.com/hashicorp/terraform/issues/17386#issuecomment-369800155

[2019-01-30 20:10] JonKohler commented on #163
Moved to https://github.com/terraform-providers/terraform-provider-nutanix/issues/26

[2019-01-30 20:11] JonKohler opened #27 "hard code (kind) to be appropriate kind for each resource"
Let's do this so it doesn't *need* a metadata group in the .tf definition file. We're going to make this implicit in a future API update, so hardcode should be fine.

We should do this for anything where the kind is 1:1, like this:

  cluster_reference = {
    kind = "cluster"
    uuid = "${data.nutanix_clusters.clusters.entities.0.metadata.uuid}"
  }

[2019-01-30 20:12] JonKohler commented on #169
moving to https://github.com/terraform-providers/terraform-provider-nutanix/issues/27

[2019-01-30 20:12] #169 closed

[2019-01-30 20:12] JonKohler commented on #170
i believe we decided to leave this as-is

[2019-01-30 20:13] JonKohler commented on #199
closing this out, meant to close a while back with @diegomezgarcia87's comment above

[2019-01-30 20:13] #199 closed

[2019-02-01 06:52] olljanat commented on #18
@guglez which Prism Central version you are using?

It looks to be that CE version 2018.05.17 does not have this issue but paid version 5.10.0.1 have.

[2019-02-01 10:10] myllyja opened #28 "Terraform crashes when trying to specify boot_device_order_list for a vm resource"
**Describe the bug**
When I try to specify boot_device_order_list for a VM it causes Terraform crash.
[code]

**Expected behavior**
I expect the VM to be created with the proper attribute set to the value specified.

**Logs**
If you've got any logs/outputs, attach them
[code]

And the crash.log:
[code]

**Versions (please complete the following information):**
 - OS that is executing Terraform: Ra

[2019-02-04 23:32] appilon opened #29 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-02-05 08:19] sandeepmp commented on #10
This is working on Prism Central 5.9.1 version.
However fails for Prism Central 5.10.1

[2019-02-09 00:36] lynxx131 opened #30 "Terraform error trying to use nutanix_virtual_machine data source"
**Describe the bug**

When attempting to use the nutanix_virtual_machine data source terraform comes up with the following error:

[code]

[code]

**Expected behavior**

Data source to return data without above error.

**Versions (please complete the following information):**
 - OS that is executing Terraform: Ubuntu 18.04
 - Terraform: 0.11.11
 - Nutanix Cluster (Prism Element / AOS): 5.10.0.2
 -

[2019-02-10 15:05] pjgunadi opened #220 "Change VM caused disk being deleted"
**Describe the bug**
When applying VM change of CPU / RAM / Description, the disks of the VM are deleted

**Expected behavior**
Change CPU/RAM/Description should not delete the disks.

**Logs**
<img width="311" alt="screenshot 2019-02-10 at 10 53 33 pm" src="https://user-images.githubusercontent.com/10342114/52535241-dbeb2880-2d86-11e9-9672-b1fedcfde676.png">

**Versions (please complete the follo

[2019-02-10 15:24] JonKohler commented on #220
The prism central version you listed looks like the AHV version, not the prism central version or prism element version.

Can you go into prism, click the menu in the top right hand corner, click about, and give the version for both prism central and prism element? Should be something like 5.9, 5.10, etc

Jon Kohler, VCDX, NPX
Technical Director, Nutanix Engineering

Sent from my iPhone

On Feb 10

[2019-02-10 22:25] pjgunadi commented on #220
Versions shown from 'About Nutanix':
Version euphrates-5.9.2-stable
NCC Version: 3.6.2.1
LCM Version: 2.1.3578

[2019-02-11 08:28] pjgunadi opened #221 "nutanix_volume_group resource not supported"
**Describe the bug**
Create resource_volume_group error: "Provider doesn't support resource: nutanix_volume_group"

**Expected behavior**
https://www.terraform.io/docs/providers/nutanix/index.html shows nutanix_volume_group is in resources list

**Logs**
"Provider doesn't support resource: nutanix_volume_group"

**Versions (please complete the following information):**
 - OS that is executing Terr

[2019-02-11 16:06] JonKohler commented on #221
This is expected. There is another GH issue already tracking this. Long story short the prism central API for volume groups isn’t where it needs to be, so technically we could have gotten it to work on prism element, and shipped it, but I personally wasn’t comfortable with having that difference, so I told the team to pull this.

Obviously we missed the documentation during the pull, so we’ll need

[2019-02-12 20:16] radeksimko opened #31 "Consider replacing satori/go.uuid"
This library does not seem to be maintained anymore per https://github.com/satori/go.uuid/issues/83 (and mentioned in a few other issues).

It seems that some other folks have switched over to https://github.com/gofrs/uuid

Alternatively HashiCorp maintains this library https://github.com/hashicorp/go-uuid

Would there be an interest in a PR which replaces the dependency? Is there any preference?

[2019-02-13 17:46] marinsalinas commented on #21
Hello @JonKohler, regarding with this issue, I didn't see any guest_customization_cloud_init field in the configuration of main.tf.

Could you provide the actual main.tf file for this issue?

[2019-02-13 23:59] marinsalinas commented on #28
Hello @myllyja,

I found the problem, the thing is that we have to initialize the BootConfig struct. I'll fix as soon as possible.

Thank you for reporting this!

[2019-02-14 09:36] myllyja opened #33 "Unable to change VM resources when it has a network connected"
**Describe the bug**
When I try to do a simple in-place update for a nutanix_virtual_machine resource it returns with an API error: "INVALID_REQUEST, Must specify NIC is_connected during update."

**Expected behavior**
I expected the machine to reboot and get the new resources(more memory in this example).

**Logs**
[code]
Everything is fine so far, the VM is running and connected to a network. Th

[2019-02-14 09:47] myllyja commented on #28
Hi @marinsalinas, I don't see any code changes in any branches here or any PRs for this issue. Does this require a change somewhere else or why was this issue closed?

[2019-02-14 14:05] JonKohler commented on #28
im assuming he accidentally hit the close and comment button instead of comment, reopening

[2019-02-14 16:01] skippy39us opened #222 "Specifying container uuid"
One of the things I'm attempting to do is specify a container uuid on which to build a VM in nutanix.  Currently, I can't seem to do that.  The ramifications of this are that all VMs built are placed on the default container, no matter what.  And currently, moving VMs off of this container onto another is a non-trivial matter.

It'd be nice if I could just specify the right container uuid as part

[2019-02-14 17:13] JonKohler commented on #222
In short, no. What is the use case you're trying to achieve, besides just getting it out of the default container?

I'm not hating at all, I've had this conversation before, I'm just curious what your take/approach is on it and make sure we understand the use case.

WRT "container targeting"
Long story short, but we're working on it at an API level as part of another project. Once that is availabl

[2019-02-14 20:51] JonKohler commented on #220
If its the same issue I'm thinking of, you'd need to jump up past 5.10 to get the fix from PC and PE level. 5.10.1 is the latest code, 5.10.2 is right around the corner

[2019-02-20 14:55] timboothby commented on #220
Hi Jon,
Can you elaborate on this a little. I'm playing with Terraform on our lab running CE 2018.05.17 and am seeing the same issue, changes to VMs in the tf config cause the VM's drives to be deleted.
It sounds like you are saying this is a bug in PC/PE? Is there a release date for a 5.10.X build of CE?
Cheers,
Tim

[2019-02-20 15:20] JonKohler commented on #220
For sure that version of CE will not have the coe that I'm talking about. I have a strong feeling it IS this bug I was referring too, but haven't had a chance to confirm. If anyone else can test it thru a 5.10.x build, we should be able to confirm.

WRT CE - I dont know what the current release schedule looks like for that offhand, would be worth pinging the user forums on that if you haven't alre

[2019-02-23 14:56] manubalasree commented on #223
need to open an issue

[2019-02-23 15:06] manubalasree opened #224 "Cloning from a VM on AHV"
I am getting the following error while trying to clone from a VM

 data.nutanix_virtual_machine.vmds: 1 error(s) occurred:

* data.nutanix_virtual_machine.vmds: data.nutanix_virtual_machine.vmds: nutanix_guest_tools.is_reachable: '' expected type 'string', got unconvertible type 'bool'

Here is the terraform tf

data "nutanix_virtual_machine" "vmds" {
  #vm_id = "${data.vault_generic_secret.nutani

[2019-02-26 05:46] JonKohler commented on #222
Hey, circling back as we should move this conversion to the upstream repo, here: https://github.com/terraform-providers/terraform-provider-nutanix

Please do carry this forward there, as this repository will now defer to that one as the single source of truth.

[2019-02-26 05:46] #222 closed

[2019-02-26 05:46] JonKohler commented on #221
This issue is being tracked in the upstream repo, here: https://github.com/terraform-providers/terraform-provider-nutanix/issues/15

[2019-02-26 05:46] #221 closed

[2019-02-26 05:47] JonKohler opened #34 "Change VM caused disk being deleted"
From old repo issues, here: https://github.com/nutanix/terraform-provider-nutanix/issues/220

**Describe the bug**
When applying VM change of CPU / RAM / Description, the disks of the VM are deleted

**Expected behavior**
Change CPU/RAM/Description should not delete the disks.

**Logs**
<img width="311" alt="screenshot 2019-02-10 at 10 53 33 pm" src="https://user-images.githubusercontent.com/10342

[2019-02-26 05:48] JonKohler commented on #220
I moved this issue to the upstream repo, here: https://github.com/terraform-providers/terraform-provider-nutanix/issues/34

[2019-02-26 05:48] #220 closed

[2019-02-26 05:49] JonKohler opened #35 "Cloning from a VM on AHV"
Moving issue from old repo, here: https://github.com/nutanix/terraform-provider-nutanix/issues/224

I am getting the following error while trying to clone from a VM

 data.nutanix_virtual_machine.vmds: 1 error(s) occurred:

* data.nutanix_virtual_machine.vmds: data.nutanix_virtual_machine.vmds: nutanix_guest_tools.is_reachable: '' expected type 'string', got unconvertible type 'bool'

Here is the

[2019-02-26 05:49] JonKohler commented on #224
Moved to upstream repo, here: https://github.com/terraform-providers/terraform-provider-nutanix/issues/35

[2019-02-26 05:49] #224 closed

[2019-03-01 14:28] vishwavijayverma opened #36 "unable to spin vm with error "'api_version' is a required property""
**Describe the bug**
Terraform VM provisioning failing.

**Expected behavior**
terraform apply should able to create VM

**Logs**
2019/03/01 19:51:08 [ERROR] root: eval: *terraform.EvalApplyPost, err: 1 error(s) occurred:

* nutanix_virtual_machine.agentvm: error: {
  "api_version": "3.0",
  "code": 422,
  "message_list": [
    {
      "details": {
        "": [
          "'api_version' is a requi

[2019-03-01 17:13] ifwatts commented on #34
Any work on this issue so far?  We have a proof of concept that is also hitting this issue.

[2019-03-05 11:39] vishwavijayverma commented on #36
Hi Nutanix team,  can you look into priority @jon@nutanix.com

[2019-03-06 01:08] ordenador commented on #34
I have the same issue, inclusive when apply it by second time, terraform try to change a value related to "_cluster_reference:%_" and "_cluster_reference.name_", and as final result is a VM without disk attached it

[2019-03-06 01:31] JonKohler commented on #34
Hey folks, thanks for pinging on this. This is definitely an active bug, and we simply need to get a development sprint scheduled to take care of this. I've pinged the right folks responsible for that, we'll update here when we get that scheduled and rolling

[2019-03-13 11:44] fuhbar commented on #10
Same here, fails on Prism Central 5.10.1 ☹️

[2019-03-14 20:31] #21 closed, assigned to marinsalinas

[2019-03-14 22:54] marinsalinas commented on #10
Hello, I opened a PR #38  fixing this.

[2019-03-14 23:03] marinsalinas commented on #12
Hello @BartJoris, I used your configuration and it seems no to be any problem, it was fixed since c91f6f54036c2b15d7568803f0bad032670eaa14.

What OS are you running terraform? I could provide the latest `master` binary to you.

Thanks!

[2019-03-15 07:54] maxaudron commented on #10
We are also experiencing a similar error but caused by another part of the code:
https://gist.github.com/3f83845a8c35dcbba06e597283e04ebd

@marinsalinas i tried this with your fix and it still errors.

[2019-03-15 14:02] BartJoris commented on #12
Thanks for validating this @marinsalinas, this issue can be closed.

[2019-03-15 16:07] #29 closed, assigned to nobody

[2019-03-15 18:42] marinsalinas commented on #17
Hello @pbaezab and @joncak, did you assign the IP in the ip_endpoint_list argument?

Can I have your configuration when you created the VM?

Here is the configuration getting the IP as output.

[code]

Thanks!

[2019-03-15 21:26] marinsalinas commented on #18
@guglez Can you share the prism central version that you are using?

Thanks

[2019-03-18 16:34] ifwatts commented on #34
Any news on this?

[2019-03-18 20:18] marinsalinas commented on #17
You can also use this as output:

[code]

[2019-03-18 20:39] marinsalinas commented on #19
Hello @rmatinata,

We know about the Terraform's interpolation syntax has limitations, we are figuring out how to solve this. The previous code (5315889) is no longer available since you could have more than one NICs attached with multiple IP endpoints. The following output code might work for you if you are trying to get the VM.

[code]

For more information see: #17

[2019-03-18 22:18] marinsalinas commented on #27
The new reference for cluster will be removing cluster_reference to cluster_uuid like the following example (see bdc5046ae962033c89a1c7ffc9ce5381b96860de):

[code]

Other references would be changed like cluster reference.

[2019-03-19 16:14] JonKohler commented on #34
@marinsalinas  - can you look at this plz?

[2019-03-19 22:05] marinsalinas commented on #12
Reopened because the state is getting only the assigned IP, not the learned.

[2019-03-21 20:42] #10 closed, assigned to nobody

[2019-03-21 20:53] marinsalinas commented on #10
Hello @maxaudron,  I've fixed this on #39, Can you take a look there?

[2019-03-22 07:46] maxaudron commented on #10
@marinsalinas yes this fixed it. Thank you very much :)

[2019-03-22 17:12] #27 closed, assigned to marinsalinas

[2019-03-22 17:32] marinsalinas commented on #17
Hello @pbaezab, could you validate if you can get the IP with the new changes on #40?

[2019-03-22 21:23] pbaezab commented on #17
Hello @marinsalinas, today I get the IP. But provider no waiting for this, then I get IP in second run plan. Thanks.

[2019-03-25 15:14] marinsalinas commented on #36
Hello @vishwavijayverma, which version of the binary are you using?

try with:
`terraform providers --version`

You can omit the provider part adding these environmental variables:
[code]

[2019-03-25 19:12] marinsalinas commented on #17
Hello @pbaezab, I've added a "wait for IP" function in order to ensure that one IP is got at least in the GetVM request.

Can you validate with the new changes on #40?

[2019-03-25 22:15] pbaezab commented on #17
@marinsalinas the provider now works fine. Thanks.

[2019-03-25 22:19] ryanhayesntnx opened #41 "Error when re-applying a plan"
**nutanix_virtual_machine.WD.0: internal error: cannot shut down the VM with UUID(a12dce4a-b1a4-4ad7-b581-1810aea2aa21): error updating Virtual Machine UUID(a12dce4a-b1a4-4ad7-b581-1810aea2aa21): error: {
  "api_version": "3.1",
  "code": 422,
  "message_list": [
    {
      "message": "Must specify NIC is_connected during update.",
      "reason": "INVALID_REQUEST"
    }
  ],
  "state": "ERROR"De

[2019-03-29 23:11] #12 closed, assigned to nobody

[2019-03-30 01:51] rnt commented on #34
Is this issue unrelated to #2 ?

This error makes the provider unusable. :(

[2019-04-02 08:43] guglez commented on #18
Hi @marinsalinas

Right now I do not have PC at all. It died because of the time/ntp issue and I need to recreate it. I'm working on this with Nutanix support.

[2019-04-02 19:43] ghost opened #44 "cannot unmarshal string into GO struct field MessageResource.details of the type map [string]interface{}"
Getting the following error when setting up a vm on nutanix:
cannot unmarshal string into GO struct field MessageResource.details of the type map [string]interface{}

Please let me know if anyone has seen this error and what may be the cause

[2019-04-02 21:16] #20 closed, assigned to nobody

[2019-04-03 13:25] joncak commented on #17
Hi @marinsalinas when we tried to create multiples vm and declare the output with the wildcard the terraform return error in the plan
[code]
This is the declaration of the output.

[code]

[2019-04-09 20:29] marinsalinas commented on #17
Hi @joncak are you using the latest binary from master?

[2019-04-10 15:53] marinsalinas commented on #23
I've asked to the Team if I can get a JSON example for this feature, then, I can change it using terraform configuration and test it.

[2019-04-11 17:02] #26 closed, assigned to nobody

[2019-04-11 17:31] marinsalinas commented on #44
@mkapooretg Can you share your configuration file and Prism Central version as well?

[2019-04-12 04:31] mc-jared opened #49 "Terraform Unable to use Provisioners in VM Resource when DHCP is used for IP Address"
**Describe the bug**
The Nutanix Provider is not able to establish a connection to VM's it has created due to lacking the IP address of the Host it has just created if not provided, this prevents using DHCP for IP provisioning.

**Expected behavior**
The Nutanix Provider should allow the provisioners of remote-exe | file to establish connections on VM's it has just created using DHCP for IP provis

[2019-04-16 16:35] #25 closed, assigned to nobody

[2019-04-16 20:53] marinsalinas commented on #24
We added many test cases in the latest PR we made.

See master branch.

[2019-04-17 14:00] titilambert commented on #44
On my side:
[code]

I just have

[code]

I tried:
* terraform v0.11.13 + terraform-nutanix 1.0
* terraform v0.11.11 + terraform-nutanix 1.0
* terraform v0.11.8 + terraform-nutanix 1.0
* terraform v0.11.13 + terraform-nutanix HEAD
* terraform v0.11.11 + terraform-nutanix HEAD
* terraform v0.11.8 + terraform-nutanix HEAD

Maybe it's because I don't have access to clusters ressources ?

[2019-04-18 16:32] #30 closed, assigned to nobody

[2019-04-19 17:33] #8 closed, assigned to nobody

[2019-04-19 18:22] marinsalinas commented on #18
Well, closed due is not in the scope.

[2019-04-19 18:22] #18 closed, assigned to marinsalinas

[2019-04-19 18:24] marinsalinas commented on #44
@mkapooretg : can I have the crash.log?

[2019-04-25 10:35] chandru-tkc opened #52 "Provider needs to support data_source_reference attribute for nutanix_image resource"
**Describe the bug**
nutanix_image resource doesn't support *data_source_reference* attribute but v3 APIs support it

**Expected behavior**
Able to create a image like below,
nutanix_image "image" {
data_source_reference = {
kind = "vm_disk"
uuid = "vm_disk_string"
}
name = "some"
}

**Versions (please complete the following information):**
 - OS Osx - Mojave
 - Terraform nutanix provider - Terraf

[2019-04-25 21:12] marinsalinas commented on #28
Hello @myllyja, I left the PR where I fixed, but unfortunately we can't merge because there is a API issue.

[2019-04-26 17:12] marinsalinas commented on #34
Hello, @rnt and @ifwatts could you please build the binary from https://github.com/terraform-providers/terraform-provider-nutanix/tree/vdisk-update-%2323 and test if this issue is still happening.

[2019-04-26 17:13] marinsalinas commented on #23
Fixed on https://github.com/terraform-providers/terraform-provider-nutanix/tree/vdisk-update-%2323

[2019-04-26 20:08] marinsalinas commented on #11
I got this answer by Nutanix Team.

```the ip_endpoint_list is how you request an IP to be assigned to the VNIC. But note that this can be done only if the network/subnet has IPAM enabled.```

This means that you must add the `ip_endpoint_list` argument inside `nic_list`

[2019-04-29 19:25] ifwatts commented on #34
@marinsalinas we don't have a location to test this provider out at the moment.  Are you looking for someone to do FVT on this, or you just wanted to double check?

[2019-04-29 19:39] marinsalinas commented on #34
Hello @ifwatts

I just want a double check, this issue will be closed once the pull request is merged, If the problem persists we will reopen this ticket.

[2019-04-29 19:49] ifwatts commented on #34
What is the ETA on the next release for this?  We want to plan out a patch process for our customers

[2019-04-30 17:09] #23 closed, assigned to nobody

[2019-04-30 20:14] #24 closed, assigned to nobody

[2019-05-06 21:20] chandru-tkc opened #57 "data source nutanix_virtual_machine fails with "Invalid address to set: []string{"nic_list", "0", "is_connected"}""
**Describe the bug**
When trying to read a vm using the data source nutanix_virtual_machine hitting the following error,
`2019/05/07 06:45:49 [ERROR] root: eval: *terraform.EvalReadDataApply, err: data.nutanix_virtual_machine.myvm: Invalid address to set: []string{"nic_list", "0", "is_connected"}
2019/05/07 06:45:49 [ERROR] root: eval: *terraform.EvalSequence, err: data.nutanix_virtual_machine.myv

[2019-05-07 19:32] chandru-tkc opened #58 "Unable to create vm using guest_customization_cloud_init_custom_key_values"
**Describe the bug**
Unable to create a vm using guest_customization_cloud_init_custom_key_values

**Expected behavior**
Able to create the vm with the attribute guest_customization_cloud_init_custom_key_values like below,
`guest_customization_cloud_init_custom_key_values = {
  "username" = "centos1"
  "password" = "nutanix/4u"

}
`

**Logs**
`panic: interface conversion: interface {} is map[strin

[2019-05-17 20:03] switchboardOp commented on #41
This is a duplicate of #33

[2019-05-17 20:55] switchboardOp commented on #33
I'm having the same issue. I suspect the bug may be in `changePowerState`: https://github.com/terraform-providers/terraform-provider-nutanix/blob/48e1f126fdc507ed1382e2abbdf41c6958b72aa6/nutanix/resource_nutanix_virtual_machine.go#L1238-L1325

I'm admittedly not very familiar with this codebase, but it looks like this is the function that constructs the payload to shut down the VM and that eventua

[2019-05-17 20:58] switchboardOp commented on #33
Actually on looking further I think the problem may be with `preFillResUpdateRequest`
That's use to fill all the properties of the newly created `res` struct in `changePowerState`

It looks like it doesn't do anything with `IsConnected` when it handles the `NicList`: https://github.com/terraform-providers/terraform-provider-nutanix/blob/48e1f126fdc507ed1382e2abbdf41c6958b72aa6/nutanix/resource_nut

[2019-05-20 13:36] switchboardOp commented on #58
I'm having the same issue.

[code]
Is causing `terraform apply` to crash with similar output to above.

- Mojave OSX
- Terraform - v0.11.14
- PE 5.10.3.2 LTS, PC - 5.10.3
- Terraform provider version v1.0.1

[2019-05-20 18:12] marinsalinas commented on #41
Closed by duplicate issue on #33

[2019-05-20 18:12] #41 closed, assigned to nobody

[2019-05-20 18:14] #33 closed, assigned to nobody

[2019-05-20 18:15] marinsalinas commented on #33
Hello @myllyja,

Could you retry building the binary from master?

[2019-05-22 12:59] myllyja commented on #33
Looks like it works now, thanks.

[2019-05-28 21:37] briceo commented on #36
I am also getting this same error.  I have tried these configurations (note, that I have to changes the structure of `cluster_reference` depending on what version I am using):

[code]

and

[code]

and I get the same result when running `terraform apply` (this is a brand new VM):
[code]

[2019-05-30 01:59] briceo commented on #36
For future readers, the reason I was getting the `api_version` error is because I had the wrong version of AOS/PC on our Nutanix system.  I was running 5.5.6, and I needed to be running 5.6.0 (or higher).

Once it was upgraded to 5.10.4.1 (the LTS at the time of this writing), the `api_version` error went away, and it worked as expected.

[2019-06-05 22:09] rdobrynski commented on #44
I too seem to be experiencing this issue on terraform 0.11.14 and PC version 5.10.4
terraform plan works, but apply breaks.

[2019-06-06 11:14] ghost commented on #44
Check the login information. Make sure that is correct.

Thanks,
Maneesh Kapoor | Essextec
Manager Professional Services
P: 929-371-3648<tel:929-371-3648> | C: 929-341-0431<tel:929-341-0431>
mkapoor@essextec.com<mailto:eherbst@essextec.com>
Website<http://www.essextec.com/> | LinkedIn <https://www.linkedin.com/company/essextec> | Twitter<https://twitter.com/essextec>
 [id:image001.png@01D50CDC.BCD

[2019-06-06 13:17] rdobrynski commented on #44
ahh.. silly domain suffix in username. Confirmed this is working with terraform 0.11.14 and PC version 5.10.4, thanks mkapoor

[2019-06-11 14:06] rdobrynski opened #61 "Unable to specify category key names dynamically in resource:nutanix_virtual_machine"
**Describe the bug**
When defining a nutanix_virtual_machine resource, using an expression to assign a category key fails. The expression does not expand to it's value.

**Expected behavior**
expression for category key should expand to it's value, instead of pass the literal expression to prism central as the category key name.

**Logs**
Error: Error applying plan:

1 error occurred:
	* nutanix_v

[2019-06-12 15:32] #57 closed, assigned to nobody

[2019-06-15 16:05] marinsalinas commented on #34
Hello @ordenador, @ifwatts @rnt.

I've done a refactor on disk_list and this issue seems to be fixed on #62 .

Can you take a look to check if in your side is solved as well?

Thanks!

[2019-06-18 01:27] chandru-tkc opened #63 "Cannot list ip addresses of when creating multiple virtual machine resources"
**Describe the bug**
Cannot list ip addresses of when creating multiple virtual machine resources

**Expected behavior**
Should be able to list the ip addresses of all the vm resources using the following syntax
`output "ip" {
  value = "${join(",",nutanix_virtual_machine.my-machine.*.nutanix_virtual_machine.deployment.*.nic_list_status.0.ip_endpoint_list.0.ip)}"
}`

If the above interpolation is

[2019-06-22 05:31] bitrelay1 opened #65 "Project Support"
Enterprise customer that would like to see project support and potentially even role support (as RBAC becomes more fine grain) in the Terraform provider.  This would give a powerful ability to properly manage (and template) projects properly, which currently can grow out of control without proper management/documentation because of a lack of visibility into each project consists of.

A simple work

[2019-06-25 08:48] alias-dev opened #66 "Terraform 0.12 compatibility"
**Describe the bug**
Running terraform init with terraform >= 0.12 throws a compatibility error

**Expected behavior**
Successful initialization

**Logs**
[code]

**Versions:**
 - OS: macOS Mojave 10.14.5
 - Terraform: v0.12.3
 - Nutanix Cluster: 5.10.5
 - Nutanix Prism Central: 5.10.5
 - Terraform provider: v1.0.1

[2019-06-25 14:24] marinsalinas commented on #9
Corrected in:
https://github.com/terraform-providers/terraform-provider-nutanix/commit/624b18e5927faf9da49c3ef2b5c515896e94929e

[2019-06-25 14:24] #9 closed, assigned to nobody

[2019-06-25 14:51] rxacevedo opened #67 "user_data typos cause panic, ForceNew for guest_customization fields"
**Describe the bug**

There are some typos in `resource_nutanix_virtual_machine.go` that cause the provider to panic when a user_data change is made and applied. Another issue though, is that the API seems to reject user_data updates to existing VMs (which makes sense, since user_data is a run-once deal). However, in the provider, this is communicated to the user as a change (`~`).

**Expected beh

[2019-06-25 17:44] rxacevedo opened #69 "Using user_data on resource.nutanix_virtual_machine yields immediate diff after initial apply"
**Describe the bug**

When using `guest_customization_cloud_init_user_data` to bootstrap a virtual machine, a subsequent plan after apply yields a diff because a CDROM device is attached to the virtual machine as a means of supplying user_data to the host. This causes a few issues.

**Expected behavior**

`user_data` is provisioned onto the virtual machine in such a way that it does not create a d

[2019-06-25 18:02] rxacevedo commented on #69
Also, let me know if the initial diff/resize CDROM problems should be split into separate issues.

[2019-06-27 14:04] jscatala commented on #34
@marinsalinas  we can check it, i can validate with @ordenador & @rnt

[2019-06-28 22:04] csawyerYumaed commented on #66
same here. It's unhappy with 0.12.3

downloading 0.11.14 works:

Terraform v0.11.14
+ provider.nutanix v1.0.1

[2019-07-03 00:40] chandru-tkc opened #70 "Add datasource type "hosts" for api/nutanix/v3/hosts endpoint"
**Is your feature request related to a problem? Please describe.**
api/nutanix/v3/hosts endpoint provides a lot of information about the host. For example if you have a cluster that has GPUs installed, v3/hosts will provide information about the device id, mode of operation of the GPU etc.., this information is needed if we want to create a virtual machine with gpu attached.

**Describe the soluti

[2019-07-09 21:02] chandru-tkc opened #71 "Update compatibility matrix for TF provider"
The current tf provider v1.0.1 will throw errors when it works with Prism Central version 5.9 due to difference between the API specs. An example is `is_connected` attribute is not available in Prism central 5.9 for nic card, so anyone using latest provider v1.0.1 with 5.9 will hit the following error,

[code]

The readme on the github project just says it works with any PC 5.6.0+ which is not tru

[2019-07-11 14:34] #34 closed, assigned to marinsalinas

[2019-07-14 07:04] marinsalinas commented on #66
We are working on it, I hope to get the new provider version next week.

Thanks!

[2019-07-14 17:35] marinsalinas commented on #71
This issue was solved on #60.

[2019-07-14 17:35] #71 closed, assigned to nobody

[2019-07-22 09:04] franc01s opened #73 "Cannot use nutanix_subnets data source"
**Describe the bug**
Cannot use nutanix_subnets datasource using a simple configuration
[code]

**Expected behavior**
terraform plan running without errors

**Logs**
[code]

**Versions (please complete the following information):**
 - OS
[code]
 - Terraform
[code]
 - Nutanix Cluster
[code]
 - Nutanix Prism Central
[code]
 - Terraform provider version (using posted RC1? Compiling yourself? If so, f

[2019-08-01 14:53] walkamongus opened #74 "Do not shutdown machine on certain changes"
**Is your feature request related to a problem? Please describe.**
Nutanix supports hot-plugging for things like CPU and memory, but currently changing this will result in a VM reboot/interruption.

**Describe the solution you'd like**
Certain changes to the VM (CPU and memory) should not initiate a shutdown/reboot.

**Describe alternatives you've considered**
I don't think there is an alternative

[2019-08-01 14:53] walkamongus commented on #74
update shutdown code is at https://github.com/terraform-providers/terraform-provider-nutanix/blob/master/nutanix/resource_nutanix_virtual_machine.go#L984

[2019-08-06 07:43] Jorge-Holgado commented on #69
Good morning,
I've "patched" the provider so it ignores `CDROM && IDE` (bus) changes.
We're hitting the same problem as you, the 2nd apply after the 1st one (creating vm's) will cause, depending on terraform version:
- VM reboot and remove that cdrom (terraform v0.10).
- Ask to remove the cdrom and if removed, the vm crash (kernel panic/bsod) as you're hot-removing a IDE bus drive (terraform v > 0

[2019-08-06 12:28] Jorge-Holgado commented on #74
Good afternoon,
I've done a little patch on the provider in my fork:
https://github.com/Jorge-Holgado/terraform-provider-nutanix

Options that will be hot-plug (always):
  * name
  * description
Options hot-plug just when increasing it:
  * num_vcpus_per_socket
  * num_sockets
  * memory_size_mib

You're right with the function location and the poweroff option, but there are some issues that I thi

[2019-08-07 19:53] marinsalinas commented on #74
@Jorge-Holgado could you please open a PR with these changes?

[2019-08-07 21:08] #67 closed, assigned to nobody

[2019-08-09 16:00] cgrout commented on #49
Try passing it the proper 'host' attribute from the generated VM reference.  I know this works w/ SSH, and no reason to assume winrm would be any different.

connection {
   type = "winrm"
   user = "${var.admin_uid}"
   password = "${var.admin_cid}"
   **host = "${nutanix_virtual_machine.DB.nic_list_status.0.ip_endpoint_list.0.ip}"**
}

[2019-08-16 11:31] Jorge-Holgado commented on #74
@marinsalinas : Done!

[2019-08-21 16:31] #74 closed, assigned to nobody

[2019-08-28 17:41] #31 closed, assigned to nobody

[2019-09-03 21:12] marinsalinas commented on #66
Closed by #72

[2019-09-03 21:12] #66 closed, assigned to nobody

[2019-09-04 23:56] #61 closed, assigned to nobody

[2019-09-04 23:58] marinsalinas commented on #49
Hello @jjamesmastercontrol did this work for you?

[2019-09-05 00:03] #44 closed, assigned to nobody

[2019-09-05 00:05] #36 closed, assigned to nobody

[2019-09-13 06:44] sbourdeaud opened #78 "Cannot specify target container when adding disks to a virtual machine resource"
Problem: When creating a virtual machine resource and specifying additional data disks, there is no way to specify the target storage container in disk_list, which means all data disk are added to the SelfServiceContainer by default, even if the VM itself was created in a different container.

Proposed solution: The API in Prism lets you specify a storage container when you add a disk to a VM.  Th

[2019-09-13 06:52] sbourdeaud commented on #78
After checking, it seems only API v2 has a way to specify a target container.  v3 does not offer that facility.  Looks like this will be added in 5.13 (https://jira.nutanix.com/browse/ENG-212697)

[2019-09-16 12:43] UnreleasedCode commented on #58
Same here... Please fix or support a workaround

[2019-09-23 15:58] bt-josh opened #79 "Hotplugging CPU and RAM"
**Describe the bug**
Hotplugging for CPU and RAM appears to have been enabled in #75 however VMs are still rebooting after increasing either `num_vcpus_per_socket` or `memory_size_mib`.

**Expected behavior**
Number of CPUs or Memory should increase without a system restart.

**Logs**
N/A

**Versions (please complete the following information):**
 - OS: RHEL 7
 - Terraform 0.12.8
 - Connecting to:

[2019-09-26 07:45] Jorge-Holgado commented on #79
Good morning,
I didn't patch tf 0.12. Don't know if @marinsalinas  has ported the change to 0.12 branch.
Maybe he can solve our doubts.

[2019-09-27 18:13] bt-josh commented on #79
The TF 0.12 code was merged into master as part of the same provider release (v1.0.2) as the hotplug code, so I don't think there's a discrete 0.12 branch anymore.

[2019-10-23 08:30] mritzmann opened #82 "Cloning from the Image Server leads to a change after a second terraform apply"
**Describe the bug**
My terraform file for a new server looks like this.

[code]

1. I execute terraform apply: The server is successfully installed.
2. I execute terraform apply a second time: Terraform recognizes a change, although I have not changed anything in the file. Output looks like this:

[code]

**Expected behavior**
A terraform apply should not confuse a second terraform apply. It's un

[2019-10-23 09:12] mritzmann commented on #82
[code]

Just found the meta-argument `ignore_changes` for the `lifecycle` block. Could be a possible solution for me. I will test it.

[2019-10-23 09:44] mritzmann commented on #82
Works for me now. `ignore_changes` helps in my case, because I don't want to adapt the disk via terraform anyway.

[2019-10-23 09:44] #82 closed, assigned to nobody

[2019-10-23 15:14] mlrtime opened #83 "Failed to perform NGT ISO mount operation with error code: kNoFreeCdRomSlot"
Describe the bug
Terraform error with nutanix plugin

Expected behavior
plan should execute normally

Logs
data.nutanix_image.centos: Refreshing state...
data.nutanix_clusters.available: Refreshing state...
data.nutanix_subnet.primary_ny5: Refreshing state...
data.nutanix_cluster.cluster: Refreshing state...
nutanix_virtual_machine.exd360[0]: Refreshing state... [id=f6861630-6f0f-44fe-8792-679cf4c

[2019-10-24 17:05] pdahake opened #84 "user_data for Windows VM"
**Is your feature request related to a problem? Please describe.**
We want to create Windows VMs for Nutanix. As part of the provisioning the VM, we would want to execute user data (powershell scripts). Right now, the porvider supports cloud_init for Linux VMs. We want something for the windows platform.

**Describe the solution you'd like**
User data like you have for AWS EC2s would be helpful.

[2019-10-29 16:15] trexmaster commented on #69
We've just hit the same problem, I've @rxacevedo workaround but that does feel very dirty and I feel it shouldn't be necessary.

[2019-11-05 16:15] mritzmann commented on #79
I found this commit from @Jorge-Holgado and @marinsalinas: https://github.com/terraform-providers/terraform-provider-nutanix/commit/f61aa7364b0c15aa069e82846e5565771141a1db

[code]

In my case, however, I explicitly want a reboot, since my guest system does not support hotplug. Is there a way to force a restart by terraform? Is there a way to disable hot-plug?

[2019-11-06 15:26] mritzmann opened #86 "CPU and RAM change does not restart VM automatically"
**Describe the bug**
My guest system does not support Hotplug out of the box, so after CPU and RAM adjustment a restart is required. Terraform automatically restarts the affected VM when the size is reduced, but not when the size is increased. This feature was added in PR #75.

**Expected behavior**
Terraform should restart the affected VM. Or alternatively provide an option to configure this beha

[2019-11-13 16:17] mritzmann commented on #86
Build v1.0.2 without Hotplug:

[code]

[2019-11-15 14:27] mritzmann opened #87 "1122 API requests only to list VMs"
We manage several hundred servers with Terraform. A `terraform plan` lasts longer than an hour, which is not very convenient. That's why we took a look at Terraform's DEBUG Log.

[code]

First, some interesting statistics: Terraform executes 1404 API requests.

[code]

Of these, 1122 are only for listing VMs.

[code]

I don't know golang enough, but I tried to find out where all the requests come

[2019-12-13 17:24] 8c8jseKa opened #89 "Update Documentation for guest_customization_sysprep Attribute"
Currently, the documentation (at the below link) only reflects the `PREPARED` option for the `install_type:` guest_customization_sysprep attribute. Please also reference that the `FRESH` option is available, as this can affect if an `unattend.xml` named-file is generated (`PREPARED`) or an `autounattend.xml` named-file is generated (`FRESH`).

[https://www.terraform.io/docs/providers/nutanix/r/vir

[2019-12-16 21:59] mwarner1 opened #90 "Undefined property is_connected of class vm_nic detected"
The Terraform Nutanix provider is sending is_connected as part of the "nic_list" stanza, but at least with REST API version 3.1, this is not allowed. Manually sending the Terraform-generated JSON after deleting the is_connected succeeds.

**Expected behavior**
VM should be provisioned.

**Logs**
Debug output attached
[logs.txt](https://github.com/terraform-providers/terraform-provider-nutanix/file

[2020-01-07 15:32] fabiocruzcoelho commented on #63
Hello,

I also have the same problem, someone managed to solve?

I'm using the below version of terraform and provider
Terraform v0.12.18
+ provider.nutanix v1.0.2

I am using count.index to create VM multiples.

I can't get ip_address outputs.

My environment distributes IP via DHCP.

Example.
[code]
erro
[code]
Would you help me

Thanks

[2020-01-15 14:45] maxaudron opened #93 "FYI: Nutanix API Authentication fails when making many requests at once"
When making multiple requests to the API with basic auth on each request, about half get denied.
Authenticating once and caching with session auth works normaly.
Same result when using prismcentral or Cluster's prism directly.
Authentication backend is LDAP.

One of these two errors are returned:
[code]
[code]

the API logs show following error:
[code]

## Steps to reproduce
spam some API requests

[2020-01-15 18:27] dot1q commented on #69
We just updated to 5.11.2.1 and since then, the workaround above no longer works for us. When creating an new VM, the following error shows up.

[code]

Before we updated, we were at least able to create a VM, but since then, we can no longer perform the change. I'm assuming that something has changed in the pre-checks for creating a VM.

[2020-01-16 20:16] #11 closed, assigned to nobody

[2020-01-20 00:24] dot1q commented on #69
I did find a work around for this, but it required me to clone the current Nutanix provider from Hashicorp and then take the file modified in the branch https://github.com/Jorge-Holgado/terraform-provider-nutanix/tree/ignore_cdromide and recompile it. My Terrafrom config and deployment uses Docker images, so it's a real pain to have to clone and compile the provider now, but it does get my product

[2020-01-22 20:46] LKS90 commented on #65
+1
Ayy, would like to see the same thing. I am currently trying to automate and link together the project creation, was a bit baffled when I didn't find a single reference to projects. I can do the subnet management with terraform, but there is no projects?

The current plan is to just use the REST API itself, but it would be nice to get some timeframe so I at least know how robust my solution has

[2020-01-29 20:54] fabiocruzcoelho commented on #63
Hello,

I can solve my problem with the function ```zipmap``` below.

[code]
```terraform output```
[code]

Thank you

[2020-01-30 08:09] jehutyy opened #94 "power_state trigger a syntax error."
**Bug**
It seems that `power_state = "OFF"` trigger this error during `terraform plan -out plan:`
[code]
**Expected behavior**
As I understand the provider reference, it should spawn vm in OFF/ON state.

**Versions**
I'm running a suse 15 sp1 with terraform 0.12.20. The nutanix provider comes from terraform init, it is v1.0.2_x4.

Beside power_state, I have no problem to create vms though.

[2020-02-16 11:27] RagingPuppies commented on #94
Terraform v0.12.20
+ provider.nutanix v1.0.2

Error: "power_state": this field cannot be set

same here.

[2020-02-26 14:15] RyanD0001 opened #95 "How do I use an unattend.xml file?"
Hi,

 when I try to use guest_customization_sysprep in my tf file i get

**'Error: Incorrect attribute value type

  on Main-test.tf line 15, in resource "nutanix_virtual_machine" "TF-win19":
  15:   guest_customization_sysprep = "${base64encode(file("unattend.xml"))}"

Inappropriate value for attribute "guest_customization_sysprep": map of string
required.'**

What am I doing wrong?

this is my t

[2020-03-06 08:37] mritzmann opened #96 "During a resource adjustment the VM is not shut down using ACPI"
**Describe the bug**
During a resource adjustment, the VM is restarted by Terraform. I noticed that the VM does not shut down cleanly with an ACPI event. Instead, the VM is turned off hard.

At least that's how I interpret the code:

https://github.com/terraform-providers/terraform-provider-nutanix/blob/34a9c14c88956bce549deb60599602e2a5b224d2/nutanix/resource_nutanix_virtual_machine.go#L1234-L123

[2020-03-06 20:18] vCarbs commented on #95
Try adding this data block above the resource.
[code]
Then set the guest_customization_sysprep value to the below.
[code]

[2020-03-09 15:51] RyanD0001 commented on #95
Hi,

Do you have a fully working example that you can share?

Thanks,

Ryan

[2020-03-09 17:35] vCarbs commented on #95
[code]

[2020-03-09 17:55] phthano-zz commented on #69
@nutanix @JonKohler  please fix this, our production environment is impacted by this.

[2020-03-09 19:35] JonKohler commented on #69
Hey @phthano - thanks for reaching out. I pinged the internal folks who overseen terraform things these days, as I haven't been a maintainer on this for quite a while. Happy to make that connection tho to get their eyes on this.

[2020-03-09 21:03] chandru-tkc opened #97 "Unable to modify a VM with learned IP address (DHCP) fails with "IP address with type 'LEARNED' not allowed""
## Issue
After creating a new VM in terraform any modifications to the VM fails with "IP address with type 'LEARNED' not allowed".

## Description:
 A change introduced on Nutanix v3 APIs on 5.11 now does a validation of ip endpoint list sent in the request. The validation rejects if **ip_endpoint_list** contains an ip address of type **LEARNED**.

I have successfully tested this on Nutanix v3 API

[2020-03-10 19:44] mgrubb opened #98 "nutanix_virtual_machine resource won't allow setting power_state"
**Describe the bug**
When adding the power_state = "OFF" setting to a nutanix_virtual_machine resource, the error "Error: "power_state": this field cannot be set" is given when trying to apply.

**Expected behavior**
The expected behavior would be one of:
If power_state is present, force that power_state on the VM
If power_state is not present, when creating the VM set power_state to OFF, when not

[2020-03-11 17:23] Sn0d3n commented on #98
HI @mgrubb - This is an issue with Nutanix Terraform Provider and we have found a solution from our end. I'm in a discussion with the internal engineering team who deals with the provider. I shall update you as soon as we plan on how to release the fix.

[2020-03-17 22:27] marinsalinas commented on #97
could you run your configuration with TF_LOG=DEBUG and post the log here removing sensitive data?

[2020-03-17 22:37] marinsalinas commented on #98
Hello @mgrubb and @Sn0d3n, we used to support this value but when we get the Hashi review we had to remove it because of the immutable philosophy behind Terraform, once you create a resource you shouldn't be able to modify the running state, you can take a look to other providers, for example, AWS and there isn't an option to change the instance state even when you can stop/pause/run via API.

See

[2020-03-19 18:15] marinsalinas commented on #94
This is related to #99 , see my comments in there.

[2020-03-19 18:15] #94 closed, assigned to nobody

[2020-03-19 20:39] marinsalinas commented on #98
Here is a comment over vsphere provider from Hashicorp Engineer, please take a look: https://github.com/terraform-providers/terraform-provider-vsphere/issues/327#issuecomment-352559036

[2020-03-23 15:37] mgrubb commented on #98
Well, I'd still like to be able to set the state at time of creation, and then have it ignored later.  I don't like that I am forced to have those resources be turned on by default.

[2020-03-27 13:39] justinhauer commented on #35
@JonKohler were you ever able to resolve this issue? I am looking to clone an existing VM for use in my terraform code and would like to know if you did anything to get past the issue you had.

[2020-04-02 16:57] #52 closed, assigned to nobody

[2020-04-02 17:27] coderGo93 commented on #98
Hello @mgrubb , I was reading about that, could you tell me how is the user case for that to make it happen? I mean, when you want to have turned it off if you can't turn it on or something like that? to understand better

[2020-04-06 18:16] yannickstruyf3 opened #112 "Improve error handling on incorrect API calls"
When performing 'incorrect' API calls via the terraform provider, the "status" field on the API is being set to "error". Trying to shrink disks will cause this state.

 This state makes it impossible to use Terraform afterwards.

The only way of getting the VM out of error state is the following:
 - Retrieve the UUID of the virtual machine (should be in your statefile)
 - Perform a GET  request on

[2020-04-08 20:13] JonKohler commented on #35
Hey Justin -  sorry I didn't see this before, I haven't done anything with this issue as I'm not plugged into the terraform project any longer. ill ping the team internally

[2020-04-09 08:13] rhizoet opened #113 "Error on applied Resource"
If I build a new VM with Terraform 0.12.24 (latest), no matter if with the provider in version 1.0.2 or upstream, I can't do any further provisioning on the same VM afterwards. The purpose of Terraform will then cease to exist.

I get the following error message:

`Error: error: {
  "api_version": "3.1",
  "code": 400,
  "kind": "vm",
  "message_list": [
    {
      "message": "Request could not b

[2020-04-13 22:26] PacoDw commented on #35
Hello,
I tested with the latest Nutanix version, and I didn't have any errors, also I added a test case to verify it, you can see it on the PR #114

Let me know if you have another comment or concern, thank you so much.

[2020-04-14 16:46] coderGo93 commented on #49
Hello @jjamesmastercontrol , I'd like to know if still an issue or its working now on branch master?

[2020-04-14 20:03] coderGo93 commented on #63
Hello @chandru-tkc, I'd like to know if this issue is still happening or not on branch master? just to be sure, please

[2020-04-14 20:07] coderGo93 commented on #73
Hello @franc01s, I'd like to know if this issue is still happening on branch master(newest version)? just to be sure, please

[2020-04-16 06:40] franc01s commented on #73
Hello @coderGo93 ,
Yes still the same.
Terraform v0.12.24
+ provider.nutanix v1.0.2

[2020-04-16 17:23] coderGo93 commented on #73
Hello @franc01s, thanks for you reply.
Yesterday I made [PR](https://github.com/terraform-providers/terraform-provider-nutanix/pull/115) with branch `fix-#73`, could you please try it again if it works for you on branch `fix-#73`?

[2020-04-16 21:28] franc01s commented on #73
I can confirm that works now.
Thanks @coderGo93

[2020-04-17 15:24] PacoDw commented on #70
Hello @chandru-tkc I added the data sources to retrieve the host data, you can check it out on the PR #116.

Let me know if you have another comment or concern, thanks

[2020-04-22 17:31] PacoDw commented on #90
Hello, @mwarner1. The VM resource has had changes, so could check/test if the same error persists on the master branch?
Also, if so, could you share your TF configuration omitting sensitive data?

If you have another comment or concern, just let me know, thank you so much

[2020-04-23 16:46] PacoDw commented on #65
Thank you so much for your request, I will start to develop the project resource :) and I will gave you news when I have something

[2020-04-27 16:29] mgrubb commented on #98
I'm not sure how much more detail you want.
Basically, at time of VM creation I would like to be able to set the power state explicitly.
So at creation time if I want the VM to remain powered off after it is created, I would like to be able to set that via the power_state attribute.
Conversely, if I want to have the VM power itself on once it is created then honor the power_state attribute accordi

[2020-04-27 18:37] #70 closed, assigned to nobody

[2020-04-30 10:39] rafaldutko-ig opened #118 "nutanix_subnet SIGSEGV on network rename"
### Nutanix Cluster Information
Version 5.11 - Starter License
NCC Version: 3.8.0.1
LCM Version: 2.2.9803

### Terraform Version
Terraform v0.12.24
+ provider.nutanix v1.0.2
also checked on
Terraform v0.11.14
+ provider.nutanix v1.0.2

### Affected Resource(s)
* nutanix_subnet

### Terraform Configuration Files
[code]
### Debug Output
https://gist.github.com/rafaldutko-ig/2465e7f1c382a772a05a94b7f

[2020-05-05 15:38] acosteseque opened #119 "Categories assignation issue"
### Nutanix Cluster Information
Please provide the version of:
 - Nutanix Cluster (Prism Element / AOS): 5.16.1
 - Nutanix Prism Central: 5.16.1.2
### Terraform Version
Terraform v0.12.24
+ provider.nutanix v1.0.2
+ provider.template v2.1.2
### Affected Resource(s)

* nutanix_virtual_machine
### Terraform Configuration Files

[code]
### Debug Output
Error: internal error: cannot shut down the VM w

[2020-05-06 19:10] PacoDw commented on #65
Hello guys, good news the resource is done, now you can play with it at the issue #121

Please let me know if you find a bug, have another comment or concern, thank you so much

[2020-05-06 19:31] bitrelay1 commented on #65
Thank you!

On Wed, May 6, 2020 at 3:10 PM Paco Preciado Mendoza <
notifications@github.com> wrote:

[2020-05-11 17:40] PacoDw commented on #112
Could you share the configuration or the steps to recreate the issue?

[2020-05-11 18:31] PacoDw commented on #118
Hello @rafaldutko-ig thank you so much for your review, I'm working on it, I'll let you know when I have news

[2020-05-11 18:39] PacoDw commented on #118
The issue is fixed you can test it on the fix-#118 branch

Let me know if you have another comment or concern, thanks

[2020-05-11 18:41] PacoDw commented on #113
Hello @rhizoet could you share your Terraform configuration to be able to recreate the issue omitting sensitive data?

[2020-05-11 19:19] PacoDw commented on #96
Hello @mritzmann thank you so much for your review, I will check it out and I will let you know when I have news

[2020-05-12 07:30] yannickstruyf3 commented on #112
To force this error you can perform following steps:
First create a vm:
[code]
After creation, shrink the disk (not supported):
[code]

Will result in failures of the next plan, apply, destroy:
`Error: error waiting for vm (vmid) to update: error_detail: INVALID_ARGUMENT: NotSupported: Can't shrink disk at scsi.0 of VM vmid., progress_message: update_vm`

The only way to resolve this situation is

[2020-05-12 14:31] BraddMPiontek commented on #69
What is the future of this provider? This issue has been open for almost a year. The provider's last release was Sept 2019. The README states it is still a technology preview and is very light on examples and documentation.

We are evaluating moving from VSphere to AHV and we rely heavily on Terraform for our automation. This bug and other nuances on how this provider works has me questioning if t

[2020-05-12 14:42] JonKohler commented on #69
Hey @piontekdd - Thank you for reaching out - I've poked the internal team that oversees our various thirdparty integrations with some hot pokers to see whats up. If you'd like, ping me jon@nutanix.com and I can get you connected directly with the PM in this area to talk through your use case and give you the g2 you need

[2020-05-13 17:27] marinsalinas commented on #69
Hey all, this issue was fixed on #111 , it is now on master and it will be added to the next release.

[2020-05-13 17:27] #69 closed, assigned to nobody

[2020-05-13 19:59] PacoDw commented on #96
Hello, @mritzmann, I implemented the new attribute to configure the `power_state_mechanism` and I fixed some bugs about it, so, you can check the PR to see more details or play with the new configuration.

Plz let me know if you have another comment or concern, thanks.

[2020-05-14 13:06] mritzmann commented on #96
Hi @PacoDw, thanks for taking care of it. I built the provider plugin from source and tried to test it. I have received the following error message.

[code]

My `server.tf`:

[code]

Probably because my test VM did not respond to the ACPI command within one minute or not at all (but this is probably more a problem of my VM). Therefore my questions:

* Is it possible to configure Terraform to only

[2020-05-14 14:48] #58 closed, assigned to nobody

[2020-05-14 14:51] #97 closed, assigned to nobody

[2020-05-15 13:56] #119 closed, assigned to nobody

[2020-05-15 14:02] marinsalinas commented on #96
@mritzmann Could you test it again against `master` and add the following to your configuration:

[code]

[2020-05-15 21:00] coderGo93 commented on #22
The [PR](https://github.com/terraform-providers/terraform-provider-nutanix/pull/125) for this issue has been made

[2020-05-15 22:29] marinsalinas commented on #87
@mritzmann, could you test it again in the master branch to see if the issue is solved?

[2020-05-17 17:45] #35 closed, assigned to nobody

[2020-05-17 17:47] marinsalinas commented on #35
@justinhauer, this configuration was tested on the latest version of this provider (`master`) and seems to be fixed, this fix will be available in the next release, you can test it building the provider binary from the master, feel free to open a new issue if you are still having issues.
Thanks for your collaboration :)

[2020-05-17 17:48] #118 closed, assigned to nobody

[2020-05-19 15:50] #65 closed, assigned to nobody

[2020-05-21 11:45] acosteseque opened #126 "data source nutanix_network_security_rule expected type issue"
### Nutanix Cluster Information
Please provide the version of:
 - Nutanix Cluster (Prism Element / AOS): 5.16.1
 - Nutanix Prism Central: 5.16.1.2
### Terraform Version
Terraform v0.12.25
+ provider.nutanix last build from master
+ provider.template v2.1.2
### Affected Resource(s)

* nutanix_network_security_rule
### Terraform Configuration Files

[code]
### Debug Output
Error: app_rule_inbound_al

[2020-05-22 11:34] yannickstruyf3 opened #128 "Datasource subnets subnet_name throwing error"
### Nutanix Cluster Information
PC 5.11
### Terraform Version
Terraform v0.12.24
### Affected Resource(s)
* nutanix_subnet
### Terraform Configuration Files

[code]
### Debug Output
[code]

[2020-05-22 14:17] #128 closed, assigned to nobody

[2020-05-22 16:39] #126 closed, assigned to nobody

[2020-05-25 13:08] waddles opened #130 "Provider prevents disk resizing at VM creation time"
### Nutanix Cluster Information
 * AOS Version 5.10.9.1 LTS
 * Prism Central Version 5.11.2.1

### Terraform Version
[code]

### Affected Resource(s)
* nutanix_virtual_machine

### Terraform Configuration Files
[code]

### Expected Behavior
VM should be created with disk image cloned as first disk and size increased to match spec.

### Actual Behavior
[code]
### Steps to Reproduce
1. `terraform ap

[2020-05-26 05:19] waddles commented on #130
I had a look at the code and simply commenting https://github.com/terraform-providers/terraform-provider-nutanix/blob/4406e9e4a476604a9b8d6693cd3162eab0b0ea89/nutanix/resource_nutanix_virtual_machine.go#L1716 so `hasDSRef` is always `false` seems to work correctly in every test I have tried. I think that is an unnecessary check causing a false negative error.

[2020-05-26 06:59] waddles opened #131 "Provider does not recover from error"
### Nutanix Cluster Information
* AOS Version 5.10.9.1 LTS
* Prism Central Version 5.11.2.1 (but should apply to any)

### Terraform Version
[code]
### Affected Resource(s)

* nutanix_virtual_machine
### Terraform Configuration Files
See #130

### Actual Behavior
Provider seems to always return the last failed task which triggers an error in Terraform.

### Steps to Reproduce
1. Create a VM
[code]

[2020-05-26 07:25] waddles commented on #131
Turns out this is not actually a problem with Terraform or the provider, it is because the spec has gone into an ERROR state and the provider is correctly refusing to attempt any further operations.

# The problem is in your Nutanix cluster, not the provider. Contact Nutanix Support to fix it.

The API is returning a status with `"state": "ERROR"` in the response and the above `"message_list"` obj

[2020-05-28 15:56] #73 closed, assigned to nobody

[2020-05-28 16:01] coderGo93 commented on #90
Hi, @mwarner1 , I tested with a similar config you shared in log, it didn't appear some error, I mean it worked for me, like @PacoDw  said, is because VM had changes and maybe it fixed that, could you please check  if it's working for you on master?

[2020-05-28 16:18] acosteseque opened #132 "Support for Secure VDI Groups (VDI Policy) in nutanix_network_security_rule"
**Is your feature request related to a problem? Please describe.**
Can you add support of the new "Secure VDI Groups (VDI Policy)" introduced in Flow with PC 5.17 to the existing nutanix_network_security_rule?

**Describe the solution you'd like**
Support for Identity based Security Policies.
Note : It requires configuring and referencing AD User groups in ID Based Security Settings.

**Additional

[2020-05-28 16:36] mwarner1 commented on #90
Unfortunately I no longer have access to that environment so I cannot test it.

[2020-05-28 16:44] coderGo93 commented on #90
Thank you for your reply @mwarner1 , I see, can you share the config file without sensitive data? So I can be sure if I tested with a similar config like yours or test it for you and can this ticket can be closed?

[2020-05-28 18:54] coderGo93 commented on #89
Hello @8c8jseKa , I updated the doc with `FRESH` option as a valid value for `install_type` in this [PR](https://github.com/terraform-providers/terraform-provider-nutanix/pull/133)

[2020-05-28 19:01] coderGo93 commented on #86
Hello  @mritzmann, is this problem still happening on master? If so, can you share the config file without sensitive data so I can test and see what happens, please?

[2020-05-28 19:43] coderGo93 commented on #86
Hello @mritzmann , I just tested it seems it worked for me, I changed cpus/memory/sockets and it turns off then it turns on(Reboot) on master but I need your confirmation before this issue is already solved and closed.

[2020-05-28 21:44] coderGo93 commented on #90
Hello @mwarner1 , this is the config file I used to test, not sure if it's similar when you tried.
[code]

[2020-06-01 16:22] coderGo93 commented on #86
Hello @mritzmann , I made [PR](https://github.com/terraform-providers/terraform-provider-nutanix/pull/136) with branch `fix-86/79` , a new parameter to force reboot for Cpus/memory changes, so if it's possible you can try it and see if it's ok, please?

[2020-06-01 16:23] coderGo93 commented on #79
Hello @bt-josh  , I made [PR](https://github.com/terraform-providers/terraform-provider-nutanix/pull/136) with branch `fix-86/79` , a new parameter to force reboot for Cpus/memory changes so in your case it shouldn't reboot unless asked, so if it's possible you can try it and see if it's ok, please?

[2020-06-01 20:35] coderGo93 commented on #49
Hello @jjamesmastercontrol , do you have an example of config file without sensitive data so I can test it and replicate behaviour like yours, please?

[2020-06-01 22:57] mwarner1 commented on #90
I had to look around in old notes, but I believe this was all I used at the
time:

provider "nutanix" {
  username = "admin"
  password = "password_goes_here"
  endpoint = "localhost"
  insecure = true
  port = 9440
  wait_timeout = 10
}

data "nutanix_clusters" "clusters" {}

resource "nutanix_volume_group" "The-VolGroup" {
  name = "The-VolGroup"
  description = "Volume Group for the environment

[2020-06-02 16:14] PacoDw commented on #93
Hello @maxaudron
Does this error happen when you are using Terraform or using just the API directly (using the client)?

[2020-06-03 19:29] coderGo93 commented on #49
Hello @jjamesmastercontrol , I just tested and it works for me it created a file test.txt and printed the Hello with powershell, could you confirm it if it's working for you and this issue can be closed?.
This is the config I used to test
[code]

[2020-06-03 20:22] coderGo93 commented on #49
The response of if its working for me
[code]

[2020-06-04 15:03] marinsalinas commented on #98
We'll work regarding all the attributes (such as CPU, Memory, etc..) that need to hotplug and add it to the resource logic with this we won't need to manually turn off or turn on the VM.

Going to close this ticket until we get any update from Hashicorp to support manually start/stop.

[2020-06-04 15:03] #98 closed, assigned to marinsalinas

[2020-06-04 15:16] #89 closed, assigned to nobody

[2020-06-04 15:25] coderGo93 commented on #49
Closed for lack of the response from the issue, it's been tested with similar config I shared and not erros has been presented.

[2020-06-04 15:25] #49 closed, assigned to nobody

[2020-06-04 16:33] coderGo93 commented on #90
Hello @mwarner1 , thanks for the config, I made test with similar config and it worked for me, I'll close this ticket.

[2020-06-04 16:33] #90 closed, assigned to nobody

[2020-06-05 16:12] coderGo93 commented on #86
Hello, I'm going to close because there are not responses from the issuer and it has been added a parameter for this case and merged to master.

[2020-06-05 16:12] #86 closed, assigned to nobody

[2020-06-05 16:12] coderGo93 commented on #79
Hello, I'm going to close because there are not responses from the issuer and it has been added a parameter for this case and merged to master and applies for #86 too.

[2020-06-05 16:12] #79 closed, assigned to nobody

[2020-06-08 11:53] maxaudron commented on #93
This happens with both terraform and the curl api command i posted. As said the PR #88 works around this.

The actual issue is with the nutanix API and i have a case open tracking this.

[2020-06-08 20:48] coderGo93 commented on #84
Hello @pdahake , I think it already exists now with `guest_customization_sysprep` , is that what you meant, isn't it? if so, here an example of sysprep/unattend.xml using PREPARED
[code]

[2020-06-10 14:21] PacoDw commented on #93
Thank you so much, I will comment this to the Nutanix team as well

[2020-06-10 15:42] #63 closed, assigned to nobody

[2020-06-10 15:44] #95 closed, assigned to nobody

[2020-06-10 15:48] #84 closed, assigned to nobody

[2020-06-10 17:18] PacoDw commented on #78
Hello, @sbourdeaud I added the necessary changes to reference a container in the VM, you can check them in the PR #138.

Let me know if you have a comment or concern, thanks.

[2020-06-16 14:27] acosteseque opened #141 "Missing user role association with nutanix_project ressource"
### Nutanix Cluster Information
Please provide the version of:
 - Nutanix Cluster (Prism Element / AOS): 5.17
 - Nutanix Prism Central: 5.17

### Terraform Version
Terraform v0.12.25
+ provider.nutanix last build from master

### Affected Resource(s)

* nutanix_project

### Terraform Configuration Files

[code]
### Debug Output
Missing RBAC association to defined users in user_reference_list
Using

[2020-06-16 14:54] acosteseque opened #142 "Need a user/group data source to get uuid"
**Is your feature request related to a problem? Please describe.**
declaring users/groups in a nutanix_project resource
uuid is mandatory in user_reference_list or external_group_reference_list

**Describe the solution you'd like**
need a data source to get uuid from user or group name

**Describe alternatives you've considered**
direct API call using API endpoint "users"
https://www.nutanix.dev/r

[2020-06-16 17:43] yannickstruyf3 opened #143 "ENTITY_NOT_FOUND Error on apply after manual VM deletion"
### Nutanix Cluster Information
PC 5.16.x
### Terraform Version
v0.12.1
### Affected Resource(s)

* nutanix_virtual_machine
### Terraform Configuration Files

### Debug Output
Error: error: {
  "api_version": "3.1",
  "code": 404,
  "kind": "vm",
  "message_list": [
    {
      "message": "vm : dc3b2bc8-3149-4370-a6b4-f2553db2b821 does not exist.",
      "reason": "ENTITY_NOT_FOUND"
    }
  ],
  "

[2020-06-19 18:21] #112 closed, assigned to nobody

[2020-06-19 18:29] #143 closed, assigned to nobody

[2020-06-19 18:32] #78 closed, assigned to nobody

[2020-06-21 09:59] manelso opened #145 "retrieve existing nutanix_resource like aws_ami filter works"
I'm integrating Terraform over a working Nutanix infraestructure and need to retrieve some existing images to use in my terraform template.

There's a way to do this like aws_ami filter works?

data "aws_ami" "base_image" {
  filter {
    name   = "name"
    values = ["packer-ubuntu18-aws-image"]
  }
}

[2020-06-24 08:29] trexmaster commented on #13
I just hit this issue last week (had never user host affinity before) which led to Terraform crashing and the state being corrupted.

[2020-06-24 17:42] #130 closed, assigned to nobody

[2020-06-30 17:13] scott-grimes commented on #44
Got hit by this: Nutanix returns a non-json object with response code 401 which cannot be unmarshaled by the CheckResponse method at https://github.com/terraform-providers/terraform-provider-nutanix/blob/8a3e566ff0a8520de9d7694e7c4315552c323cab/client/client.go#L263

Reworked this with PR that throws an invalid credential error instead, which is more helpful I think #148

[2020-07-05 23:48] fillup opened #155 "Extract client to standalone module?"
I'm working on a project that integrates with Nutanix and I'd like to use the client you've already developed here, but it feels weird to import the Terraform module just to get access to the client package. Also being bundled in the Terraform module concerns me that it could be modified over time in ways that would be convenient for Terraform usage but make it less useful outside the Terraform co

[2020-07-06 15:42] mritzmann commented on #86
Hi @coderGo93, thanks for your work. I tested it today with the 1.0 release. Seems to work fine!

[2020-07-09 07:28] mritzmann commented on #87
I tested it yesterday with version v1.1.0. Seems to be fixed.

* `terraform plan` bevor: longer than an hour
* `terraform plan` now: three minutes

@marinsalinas thanks for your work! :bow:

[2020-07-09 07:28] #87 closed, assigned to nobody

[2020-07-20 12:24] krausexb commented on #28
Hi @marinsalinas do you have an update? Im experiencing the same issue with the following specs:

Terraform v0.12.28
+ provider.nutanix v1.1.0

This feature is important for rancher users!
Is there a other workaround to boot from Disk instead of CD-Rom?

[2020-07-21 12:47] maxaudron opened #158 "Createing a VM with storage_config fails with "Additional properties are not allowed (u'storage_config' was unexpected)""
### Nutanix Cluster Information
- Nutanix Element  5.10.9 LTS
- AHV Version Nutanix 20170830.270
- Nutanix Prism Central 5.16.1.1

### Terraform Version
[code]

### Affected Resource(s)
* nutanix_virtual_machine

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/maxaudron/780941aba25e42250eab7002ff78941d

### Expected Behavior
The VM is created with a `storage_conf

[2020-07-29 00:10] mathurin186 commented on #158
I am curious about the outcome of this. I am experiencing the same problem.

[2020-08-04 11:05] yannickstruyf3 commented on #158
Hi @mathurin186 and @maxaudron ,

If I recall correctly, in order to use the `storage_container_reference` functionality the Prism Central and Prism Element version must be 5.17 or above.

Kind regards

[2020-08-04 11:07] yannickstruyf3 commented on #145
Hi @manelso,

The provider has the `nutanix_image` data source (example below). Is this the functionality you are looking for?
[code]

[2020-08-05 07:53] yannickstruyf3 opened #159 "Modifying VM image uuid (data_source_reference in disk_list) does not replace Disk"
### Nutanix Cluster Information
 - Nutanix Cluster: 5.17.x
 - Nutanix Prism Central: 2020.7
### Terraform Version
Terraform v0.12.24
### Affected Resource(s)

* nutanix_virtual_machine
### Terraform Configuration Files
Create VM with a disk that references an image:
[code]
Change the image id and apply:

[code]
### Debug Output
None
### Panic Output
None
### Expected Behavior
Change is visible in

[2020-08-10 17:15] PacoDw commented on #155
yes, you are right and I agree with that, we will work on it, thank you so much for your review

[2020-08-10 19:38] #83 closed, assigned to nobody

[2020-08-10 20:29] PacoDw commented on #93
we will close this issue due that it's not part of terraform

[2020-08-10 20:29] #93 closed, assigned to nobody

[2020-08-10 20:41] PacoDw commented on #19
To due to a inactivity of this issue we will close this ticket, if you still having similar issues like this, plz open a new one.

[2020-08-10 20:41] #19 closed, assigned to marinsalinas

[2020-08-10 20:42] PacoDw commented on #17
To due to a inactivity of this issue we will close this ticket, if you still having similar issues like this, plz open a new one.

[2020-08-10 20:42] #17 closed, assigned to marinsalinas

[2020-08-10 20:50] fillup commented on #155
Awesome @PacoDw that would be fantastic! I'm just a few weeks away in my project from wanting to begin using the client. I assume that's a bit soon for you to be able to refactor this but it's great to know it will hopefully happen :-) Do you have any sense of how long it might take to do? I understand that's not an easy question to answer though.

[2020-08-18 11:59] cooperose opened #162 "sysprep file in vm resource"
### Nutanix Cluster Information
Please provide the version of:
 - Nutanix Cluster (Prism Element / AOS)
       5.15.1.1 LTS
 - Nutanix Prism Central
      5.17.1.1

### Terraform Version
Terraform v0.13.0
+ provider registry.terraform.io/terraform-providers/nutanix v1.1.0

### Affected Resource(s)
* nutanix_virtual_machine

### Terraform Configuration Files
resource "nutanix_virtual_machine" "test

[2020-08-21 16:40] PacoDw commented on #155
In a quick estimated I think it would be done in two months :)

[2020-09-08 22:06] harshit0921 opened #163 "Option not available to change the BIOS type"
**Terraform Version**
Terraform v0.12.24

**Affected Resource(s)**
nutanix_virtual_machine
Terraform Configuration Files

Create VM with a disk that references an image:

[code]

**Debug Output**
None

**Panic Output**
None

**Expected Behavior**
The BIOS type is selected as UEFI

**Actual Behavior**
The BIOS type is selected as Legacy BIOS

**Steps to Reproduce**
Create a VM with an image
Check t

[2020-09-08 22:50] harshit0921 commented on #163
Hi @marinsalinas can you please look into this. Thanks

[2020-09-11 11:07] jehutyy opened #166 "nutanix provider doesn't appear in terraform registry"
It seems that terraform providers have been migrated to terraform registry but nutanix seems to be missing.

Because of that `terraform init` needs to create a `versions.tf` which interfere with air gap installation in a way that I have to include such a file in every repository i'm creating.

[2020-09-11 19:27] mpschmitt opened #167 "Create a way to set a host name during clone of a VM"
The VSphere provider gives you the ability to set a host name as you clone a new VM from an image. As far as I can tell, the Nutanix provider does not yet provide this ability (but please feel free to school me if that's wrong). The closest I think we can currently get is to use get_customization_sysprep (on Windows) and set the hostname in the sysprep itself.

**Describe the solution you'd like**

[2020-09-17 11:38] yannickstruyf3 commented on #159
Alternative approach would be to set ForceNew on the image disk.

[2020-09-22 17:23] BiGOUDx opened #168 "'invalid memory address or nil pointer dereference' while getting a VM."
### Nutanix Cluster Information
 - Nutanix Cluster Prism Element : 5.15 LTS
 - Nutanix Prism Central : pc.2020.8.0.1
### Terraform Version
Terraform v0.13.3
provider registry.terraform.io/terraform-providers/nutanix v1.1.0
### Affected Resource(s)
* data "nutanix_virtual_machine" "template_win2019"
### Terraform Configuration Files
[code]
### Debug Output
### Panic Output
https://gist.github.com/B

[2020-09-23 14:30] yannickstruyf3 commented on #168
Hi,

Would it be possible to execute the plan with following command and share the tf.log file?
`TF_LOG=trace TF_LOG_PATH=tf.log terraform plan`

Please make sure the logs do not contain sensitive information.

[2020-09-23 22:02] gabybeitler commented on #166
We will be listed again in the terraform registry shortly.

[2020-09-24 09:55] BiGOUDx commented on #168
Sure.
Here is the file: https://gist.github.com/BiGOUDx/e70b4fd459e545824041e114c95d90e0

[2020-09-24 10:22] yannickstruyf3 commented on #168
Thanks @BiGOUDx for sharing the log.
This seems to be a bug in the provider when a data source is used on a VM that has following boot config:
[code]
I created a PR #169  that fixes this issue. Was able to reproduce and fix in my lab environment.

Kind regards

[2020-09-24 12:12] BiGOUDx commented on #168
Correct. I changed the boot order and everything is fine now. Thanks for your help and the future fix.

[2020-10-12 10:09] yannickstruyf3 opened #170 "Allow usage of service and address groups in network_security_rules"
Since 5.18, two new object types can be used for network security rules:
- service_groups (https://www.nutanix.dev/reference/prism_central/v3/api/service-groups/postservicegroups/)
- address_groups (https://www.nutanix.dev/reference/prism_central/v3/api/address-groups/postaddressgroups)
for creating network_security rules.

The provider should be updated in order to offer this new functionality.

[2020-10-13 10:11] arogic opened #171 "vss_snapshot_capable attribute doesn't work"
Hi,

the attribute "vss_snapshot_capable" under "nutanix_guest_tools" doesn't get considered, because the VSS Snapshot Feature doesn't get enabled after I create the VM using the following terraform config file.

### Nutanix Cluster Information

### Terraform Version
Terraform v0.13.2
### Affected Resource(s)
resource nutanix_virtual_machine
### Terraform Configuration Files
[code]

[2020-10-22 21:29] marinsalinas commented on #28
@krausexb @myllyja, @yannickstruyf3 can you confirm if the issue is gone building the provider from `boot-device-order-list-#28` branch

if you need assistance compiling this provider just let me know.

[2020-10-23 07:47] krausexb commented on #28
@marinsalinas it works🔥 thanks for implementing this feature!

[2020-10-26 10:53] mritzmann opened #172 "power_state: this field cannot be set"
### Nutanix Cluster Information
 - Nutanix Cluster (Prism Element / AOS): 5.10.10.1 LTS
 - Nutanix Prism Central: 5.16.1.3

### Terraform Version

[code]

### Affected Resource(s)
* nutanix_virtual_machine

### Terraform Configuration Files
[code]
### Debug Output
https://gist.github.com/mritzmann/be89f883bd71d3a06877e55c821b51a0

### Panic Output
There is no panic output.

### Expected Behavior
T

[2020-10-26 21:03] #28 closed, assigned to nobody

[2020-10-27 09:27] pierre-moire commented on #6
Hi, any news on this feature?

[2020-10-27 21:12] marinsalinas commented on #159
Copying from slack's conversation:

I think customize diff (#173) could not work for us:
I tested it by changing without any luck:
 - data_source_reference to typelist.
 - change disk_list to typeSet
- removing computed values from disk_list and test.

We can get the change only by adding or removing elements as your current implementation (#157), also I upgraded the provider to the new terraform

[2020-10-28 08:03] arogic commented on #171
According to Nutanix Support enabling Volume Snapshot Service through the Nutanix REST API is currently not supported. Therefore closing this Issue.

[2020-10-28 08:03] #171 closed, assigned to nobody

[2020-11-10 18:43] MaxPeal commented on #163
Please also don't forget the settings for secure boot

[2020-11-10 18:50] MaxPeal commented on #166
Any news or a ETA?

[2020-11-10 19:28] gabybeitler commented on #166
@MaxPeal It is placed in the terraform registry as of this week.

[2020-11-16 13:13] jehutyy opened #182 "local resource nutanix_image"
I would like to use a local iso to create a resource nutanix_image.

Is there a way to do so without using a http server ?

[2020-11-16 21:11] #168 closed, assigned to nobody

[2020-11-17 16:50] yannickstruyf3 commented on #182
Hi @jehutyy,

Can you test if this code works for you:

[code]

[2020-11-18 07:39] jehutyy commented on #182
thanks a lot, that works well ;)

[2020-11-24 12:39] jehutyy commented on #182
Your solution is working fine except for a border effect.
Using `source_path` my iso is not tagged as ISO and thus cannot be used as cdrom.

Have you heard of something like this ?

[2020-11-25 08:53] scorillo commented on #166
does not appear on the site
https://registry.terraform.io/search/providers?q=nutanix

[2020-11-25 13:39] yannickstruyf3 commented on #162
@cooperose Can you test with following config:
[code]
where `sysprep_autoattend.xml` is the path to your unattend xml file?

Thanks

[2020-11-25 16:26] gabybeitler commented on #182
This appears to be a bug in the implementation.

[2020-11-25 19:42] yannickstruyf3 opened #201 "Fix resource Read inconsistencies"
The Read function of some (for example nutanix_category_key and nutanix_category_value ) resources incorrectly use following code block:
[code]
Without return nil in case the entity is not found, terraform will throw an error in case the resource is deleted without terraform intervention (for example deletion via UI or manual API call).

[2020-11-26 07:27] jehutyy commented on #182
Thanks a lot for this PR, will this patch be included in next release ?
Would it be a possibility to keep me updated on that matter ?

[2020-11-26 12:31] yannickstruyf3 commented on #167
@mpschmitt
Sysprep or cloud-init is currently the way to go to set a hostname in a virtual machine.
Does sysprep/cloud-init in combination with Terraform templates (https://registry.terraform.io/providers/hashicorp/template/latest/docs/data-sources/file) fit your requirements? The templating mechanism will help in dynamically setting the hostname values.

[2020-11-26 18:38] MaxPeal commented on #166
@gabybeitler is this realistic to see it in the registry or should we buy VMware licenses?

[2020-11-26 18:58] gabybeitler commented on #166
We are working on 1.1.1 release which fixes this issue. It should be released very soon.

[2020-11-27 11:59] kruftik opened #204 "Problem on json unmarshalling to go struct (MessageResource.message_list.details of type map[string]interface {})"
### Nutanix Cluster Information
Nutanix Prism Central 5.17.0.3

### Terraform Version
[code]

### Affected Resource(s)
It seems that the issue affects any Nutanix resource since it occurs on read phase of `terraform plan` / `terraform apply` commands. The cluster and subnet resources are 100% affected.

### Terraform Configuration Files
[code]
### Debug Output
can be provided upon request

### Exp

[2020-11-27 13:26] yannickstruyf3 commented on #204
Hi @kruftik,

Is the data source for nutanix_cluster always failing (in 100 percent of the runs)?
Are you testing with a local user (admin?) or with an AD/LDAP user?

[2020-11-27 14:04] kruftik commented on #204
Hi @yannickstruyf3,

no. definitely, the errors happens not at each and every request to the API, I'd say it fails on 60% of the tries or so

the account used is an AD-based one

[2020-11-27 14:16] yannickstruyf3 commented on #204
@kruftik Thanks for the fast reply!

For testing purposes, would it be possible to check if you have the same behaviour with a local (non-ad) account?
I would also recommend to create a Nutanix support ticket to validate the API failures on Prism Central side.

[2020-11-28 18:23] sachin433 opened #205 "Terraform crashed while creating VM in Nutanix"
### Terraform Version
0.13.5
### Affected Resource(s)
nutanix_virtual_machine

### Terraform Configuration Files
data "nutanix_clusters" "clusters" {}

resource "nutanix_virtual_machine" "MyTestVM_TF" {
  name                 = "MyTestVM-TF"
  description          = "Created with Terraform"
  provider             = nutanix
  cluster_uuid         = data.nutanix_clusters.clusters.entities.0.metadata

[2020-11-30 05:58] kruftik commented on #204
@yannickstruyf3,

we tried to reproduce the issue using local nutanix account and didn't succeed.

moreover, we've identified the root cause of the problem - some of AD-controllers were not reachable from the Nutanix infrastructure. As soon as all the controllers became reachable, the problem has gone.

thanks a lot for a tip!

[2020-11-30 05:58] #204 closed, assigned to nobody

[2020-11-30 11:20] yannickstruyf3 commented on #205
Hi @sachin433,

This error is caused by this block:
[code]
Would it be possible to pass the project uuid instead of the name? For example:
[code]
We will also check from our side how we can optimise the error handling.

@marinsalinas @coderGo93

[2020-11-30 14:09] kruftik commented on #205
[code]

why the resource schema is so redundant? if the section is called project_reference, what is the point to embed kind field inside? why not to use any kind of a abstract section name (e.g. 'reference') or omit kind field entirely?

[2020-11-30 15:18] yannickstruyf3 commented on #205
@kruftik, we are following the Nutanix API schema's as close as possible. However, we are constantly looking at improvements and we will also consider omitting the kind field (easy workaround would be to put "project" as default value).
@marinsalinas

[2020-11-30 16:03] yannickstruyf3 commented on #131
@waddles

This should be fixed in v1.1.0. Can you validate if this is also is the case for you?

[2020-11-30 16:38] #182 closed, assigned to nobody

[2020-11-30 16:44] #201 closed, assigned to nobody

[2020-12-01 07:05] yannickstruyf3 opened #211 "Fix data source usage inconsistencies"
Fix inconsistencies in data source usage.

Some data sources can only be used with UUID parameter. Check if these can also be retrieved via name.

In addition to that the naming of the data source input parameters should be streamlined. For example:
data source image uses `image_name` and `image_id` while data source cluster uses `cluster_id` and `name`.

[2020-12-01 22:30] gabybeitler commented on #166
@MaxPeal No need for those VMware licenses. Version 1.1.1 of our provider was just released. https://registry.terraform.io/search/providers?q=nutanix

[2020-12-01 22:37] #166 closed, assigned to gabybeitler

[2020-12-04 16:59] yannickstruyf3 commented on #162
@cooperose was the issue fixed by adding the unattend_xml line?

[2020-12-08 08:01] sachin433 commented on #205
@yannickstruyf3 thanks for spotting the error. I kind of missed it.

[2020-12-08 16:35] marinsalinas commented on #163
@harshit0921 @MaxPeal added a fix on #217 can you take a look?

[2020-12-08 18:40] MaxPeal commented on #163
Not at the moment as I have no dedicated test system

[2020-12-10 09:01] ollivainola commented on #15
Issue is still valid, also documentation promises that the feature is available https://registry.terraform.io/providers/nutanix/nutanix/latest/docs/resources/volume_group, though it will fail when one tries to use it (v1.1.1):

[code]

[2020-12-16 13:08] mritzmann commented on #98
Not sure if I understood the discussion here correctly. Do I understand it correctly that `power_state` was removed? If so, this should also be removed [from the documentation](https://registry.terraform.io/providers/nutanix/nutanix/latest/docs/resources/virtual_machine#power_state). Question because I have a similar problem in #172.

[2020-12-19 03:24] wanghm opened #223 "Storage Container issue when using image to create VM disk"
### Nutanix Cluster Information
Please provide the version of:
 - Nutanix Cluster (Prism Element / AOS 5.17.1.3)
 - Nutanix Prism Central (pc.2020.9.0.1)

### Terraform Version
Terraform v0.14.2
+ provider registry.terraform.io/hashicorp/aws v3.21.0
+ provider registry.terraform.io/hashicorp/template v2.2.0
+ provider registry.terraform.io/nutanix/nutanix v1.1.1

### Affected Resource(s)
* nutanix

[2021-01-12 16:25] marinsalinas commented on #141
@yannickstruyf3  can you confirm that this is now working in our current implementation?

[2021-01-12 16:33] yannickstruyf3 commented on #141
Yes this should be ok

[2021-01-15 10:52] yannickstruyf3 opened #230 "Support for Directory services"
**Is your feature request related to a problem? Please describe.**
No problem today

**Describe the solution you'd like**
Adding resources and data sources for directory services (AD,LDAP,...)

**Describe alternatives you've considered**
N/A

**Additional context**
API docs: https://www.nutanix.dev/reference/prism_central/v3/api/directory-services/postdirectoryservices/

[2021-01-16 21:58] yannickstruyf3 opened #233 "Adding VM to project triggers a reboot"
### Nutanix Cluster Information
PC 2020.11 and earlier
### Terraform Version
0.13.x
### Affected Resource(s)
nutanix_virtual_machine
### Terraform Configuration Files

[code]
### Expected Behavior
VM should not be rebooted
### Actual Behavior
VM reboots when added to a project
### Steps to Reproduce
- Create a VM
- Add project_ref to VM
- Update VM

### Important Factors

* #0000

[2021-01-20 09:12] jantari opened #235 "Make it clearer when TF is waiting for a VM to get an IP"
**Is your feature request related to a problem? Please describe.**
I've recently encountered the case where I was creating a VM in a subnet without DHCP, and terraform got stuck on:

    Still creating ... [ x time elapsed ]

forever. I tried many times including with debug level `TF_LOG=TRACE` but all it was that the provider was "waiting on vm".
Meanwhile, all tasks associated with the VMs creat

[2021-01-20 10:29] jantari commented on #141
This issue is talking about the master branch as of 16 Jun 2020, but I am using the release version 1.1.1 from 24 Nov 2020 and it doesn't have a `nutanix_project` resource type - is there any ETA on when that's coming out? I'd really want to use it.

[2021-02-01 20:49] #142 closed, assigned to nobody

[2021-02-01 20:51] #6 closed, assigned to nobody

[2021-02-01 20:51] #22 closed, assigned to nobody

[2021-02-01 20:52] #96 closed, assigned to nobody

[2021-02-01 20:52] #132 closed, assigned to nobody

[2021-02-01 20:54] #163 closed, assigned to nobody

[2021-02-01 20:54] #141 closed, assigned to nobody

[2021-02-01 20:55] #131 closed, assigned to nobody

[2021-02-04 09:46] marcelvenema opened #248 "nutanix_image checksum"

[2021-02-04 10:01] #248 closed, assigned to nobody

[2021-02-04 10:01] marcelvenema commented on #248
solved, user issue :-)

[2021-02-04 13:44] marcelvenema opened #249 "Set storage_container for image"
To create an image, i can do :
resource "nutanix_image" "W2K19" {
  name        = "W2K16"
  description = "Windows Server 2019"
  source_uri  = "https://<URL>/W2K19.iso"
  checksum    = { checksum_algorithm = "SHA_256", checksum_value ="9976b3e125050542ca50de3c7347d132113834edc151c64c55f9e30bc4d2160f" }
}
This results in creating the image in the SelfServiceContainer. I want to create an image in

[2021-02-04 14:39] gfenn-newbury opened #250 "Hardcoded timeout causes VM build to fail"
### Nutanix Cluster Information
Please provide the version of:
 - Nutanix Cluster (Prism Element / AOS): 5.18.1.2
 - Nutanix Prism Central: 2020.9.0.1
 - Provider Version: 1.2.0

### Terraform Version
0.14.4
### Affected Resource(s)
* nutanix_virtual_machine

### Expected Behavior
VM built after running remote-execs, which can take over 1 minute
### Actual Behavior
[code]
### Steps to Reproduce
Bu

[2021-02-04 16:19] gabybeitler commented on #250
There is a wait_timeout parameter in the provider. Could you use that parameter in your TF code and see if that accomplished what you need?  An example is below.

provider "nutanix" {
  wait_timeout = 2
  insecure     = true
  port         = 9440
}

[2021-02-05 09:27] gfenn-newbury commented on #250
Thanks, I'll give it a try and report back. I assume `wait_timeout` is in minutes?

Is there any documentation to what the default value is, and why this was suddenly enforced with `v1.2.0` (can't find any mention of timeouts in the changelog)? Seems the code I linked to above was included in `v1.1.0` and `v1.1.1`, so it's **not** the cause. However, rolling back to `v1.1.1` allows builds to take

[2021-02-05 11:06] gfenn-newbury commented on #250
Can confirm setting `wait_timeout = 60` allows us to get past the 1 minute mark. Thank you for that.

[2021-02-08 11:20] yannickstruyf3 opened #254 "Implement Timeout blocks on resource level"
**Is your feature request related to a problem? Please describe.**
Currently the wait_timeout attribute works on a provider level. An enhancement would be to put this functionality on a per resource basis

**Describe the solution you'd like**
Implement functionality like mentioned here:
https://www.terraform.io/docs/language/resources/syntax.html#operation-timeouts

**Describe alternatives you've

[2021-02-10 12:56] yannickstruyf3 opened #255 "Data sources (subnets, clusters,...) only return first 20 items in API"
### Nutanix Cluster Information

### Terraform Version
any version
### Affected Resource(s)

* nutanix_subnets
* nutanix_categories
* nutanix_clusters
* ...
### Terraform Configuration Files

N/A
### Debug Output
N/A
### Expected Behavior
Terraform should fetch all objects present in Prism Central
### Actual Behavior
If Prism central has more than 20 entities of a specific type (>20 subnets or >20

[2021-02-11 07:40] bavivek2003 opened #256 "data "nutanix_subnets" "main" {} output limited to 20 subnets"
### Nutanix Cluster Information
 - Nutanix Prism Central : pc.2020.11
### Terraform Version
tried terraform version 12.x and 13.x
### Affected Resource(s)
nutanix_subnets
### Terraform Configuration Files
[code]
### Expected Behavior
the output should list all the subnets.(i have around 200+ subnets)
### Actual Behavior
the output is limited to 20 subnets.
### Steps to Reproduce
1. `terraform appl

[2021-02-11 15:06] marinsalinas commented on #254
Hey @yannickstruyf3, we are aware of the resource level CRUD operations timeout, the resource why we added as a provider level is because at that time the Terraform provider development documentation is wasn't very clear on how to manage those timeout, so we decided to add it at provider level (global).

Here is more context about the initial implementation:
https://github.com/nutanix/terraform-pr

[2021-02-14 15:38] kruftik opened #258 "[nutanix_karbon_cluster] kube-apiserverauth credentials (v1.2.0)"
**Is your feature request related to a problem? Please describe.**
Since the nutanix_karbon_cluster resource output does not contain any JWT tokens or so,  it's not possible to call kubernetes APIs to deploy apps or somehow else use the provisioned cluster without calling a Nutanix raw API to retrieve the token

**Describe the solution you'd like**
it'd be useful to enrich the resource output with

[2021-02-14 16:05] kruftik opened #259 "validation for compatible Nutanix API version"
**Is your feature request related to a problem? Please describe.**
The provider seems not to validate if the version of remote Nutanix API is compatible one, i.e. whether the required methods exist and they have expected interfaces.

For instance, Karbon API v2.1.1 does not does not have `/karbon/v1-alpha.1/k8s/clusters/{name}/node-pools/{node-group-name}/add-nodes` and similar methods while v2.2

[2021-02-15 15:34] yannickstruyf3 commented on #258
@kruftik Does this data source meet your requirements:
https://registry.terraform.io/providers/nutanix/nutanix/latest/docs/data-sources/karbon_cluster_kubeconfig

This will allow you to fetch the kubeconfig data from the karbon cluster via Prism Central APIs

[2021-02-15 15:38] yannickstruyf3 commented on #259
The Karbon resource was developed and based on Karbon version 2.2. We will modify the documentation to reflect this version requirement.
@marinsalinas

[2021-02-15 15:50] kruftik commented on #259
Do you not agree it would be a good idea to check if remote API is REALLY v2.2 or some elder stuff? I believe it would be extra useful in terms of UX.

[2021-02-22 15:28] jnunezt opened #262 "changing the resource owner causes the entire infrastructure to be recreated"
Hello, recently an employee of our company left us, he was in charge of creating the infrastructure, the generation of this was done using a personal nutanix account.

When he left the company, we canceled his account, and now we are preparing to create infrastructure with the service account that we generated, but the terraform plan tells us that it will destroy everything and create everything.

[2021-02-23 17:55] yannickstruyf3 commented on #262
Hi,

Can you create a Nutanix support ticket for this specific issue?

Thanks.

[2021-02-24 16:09] yannickstruyf3 opened #263 "Allow VM cloning"
**Describe the solution you'd like**
Allow the terraform provider to create a new Virtual Machine by cloning an existing one.
VM(s) data source will also be required

**Describe alternatives you've considered**
None

**Additional context**
Clone API documentation: nutanix.dev/reference/prism_central/v3/api/vms/postvmsuuidclone/

[2021-02-25 14:48] gfenn-newbury opened #264 "Add ability to specify cluster in network and subnet data blocks"
**Is your feature request related to a problem? Please describe.**
Add ability to specify the cluster in `data.nutanix_image` and `data.nutanix_subnet`. Currently, if you use Prism Central as an endpoint, and have the same image or network name on multiple clusters, you'll get a response similar to:
[code]

**Describe the solution you'd like**
Be able to specify the cluster, such that you can spec

[2021-02-26 09:11] thirdeyenick commented on #155
Hi there,
is there any news on this issue? We also would like to use the 'official' client here, but have the same concerns.

[2021-03-03 16:02] tuxtof commented on #263
need the same too

[2021-03-11 19:59] bhadrim opened #266 "error unmarshalling json: EOF - On cluster lookup - connecting to Test Drive System as admin"
### Nutanix Cluster Information
[code]
### Terraform Version
[code]
### Affected Resource(s)
[code]
### Terraform Configuration Files
[code]

### Debug Output
[code]
### Panic Output
N/A
### Expected Behavior
Data resource to be displayed
### Actual Behavior
404
### Steps to Reproduce

1. `terraform apply`
### Important Factors
I am using Test Drive System.

Works fine from the same system when us

[2021-03-11 21:13] gabybeitler commented on #266
I tried to replicate the issue using the following .tf file and it returned the expected output. Is your endpoint the Prism Central instance, also make sure the cluster id is correct?

 terraform {
   required_providers {
     nutanix = {
       source = "nutanix/nutanix"
       version = "1.2.0"
     }
   }
 }

data "nutanix_cluster" "cluster" {
   cluster_id = "0005bc3f-ad20-284a-2495-ac1f6b61b7

[2021-03-11 22:01] bhadrim commented on #266
@gabybeitler Hi Thank you for the quick reply. Did you try on a Test Drive system?

This is the endpoint I used in my terraform as well as in the curl command. While curl command returns data, terraform execution returns 404

[code]

I used the same cluster ID in terraform template as well as curl which is 00057d50-00df-b390-0000-00000000eafd

I suspect something might be blocking terraform call i

[2021-03-11 22:02] gabybeitler commented on #266
No. I tested on an internal cluster. I am standing up Teat Drive and will test there too.

[2021-03-12 04:12] gabybeitler commented on #266
I can reproduce on Test Drive as well.

[2021-03-16 22:39] jlaunier opened #267 "Extend Provider to cover common Era operations via Era API"
Era Capabilities we are look to support from the provider:

1st Day tasks:
Provision Databases
Provision Database Servers

2nd Day tasks:
Backup/Recovery
Take a snapshot of a database
Restore a database

Manage Clones
Create a Cloned Database
Refresh of a Cloned Database.

Patching
Apply new patches update to my database server

[2021-03-19 16:09] bhadrim commented on #266
@gabybeitler Thank you for the confirmation. Is there a workaround or will there be a provider fix for this? Thank you.

[2021-03-22 06:55] zisuu commented on #223
@wanghm same issue over here.

our Infrastructure:

    Nutanix Cluster (Prism Element / AOS 5.15.4 LTS)
    Nutanix Prism Central (pc.2021.1.0.1)

Terraform Version

Terraform v0.14.8
+ provider registry.terraform.io/hashicorp/template v2.2.0
+ provider registry.terraform.io/nutanix/nutanix v1.2.0

[2021-03-22 06:57] zisuu commented on #249
@marcelvenema check out this issue and I guess it answers your question?  https://github.com/nutanix/terraform-provider-nutanix/issues/223

[2021-04-01 07:57] hkusanic opened #269 "unmarshalling error response invalid character ‘O’ looking for beginning of value"
**Description:**
This looks like Nutanix Terraform provider issue.

I am using following setup:
[code]
Error is always in the following form, but happens on different places in the terraform code:
```"unmarshalling error response invalid character ‘O’ looking for beginning of value"```

This issue is occasionally breaking our release pipeline, but oddly enough if you re-run the pipeline it will st

[2021-04-01 09:39] yannickstruyf3 commented on #269
Can you run your code in TRACE mode (https://www.terraform.io/docs/internals/debugging.html) and provide these logs?
Please make sure you remove all sensitive data from the output (authorization headers for example).

[2021-04-06 14:53] yannickstruyf3 opened #271 "Remove Volume Group documentation"
Remove Volume group documentation since it is not implemented in the provider

[2021-04-06 16:53] Chup4Chups commented on #170
Hi @yannickstruyf3 ,

We are using terraform to create network security rules as we recently started to use Flow and I confirm it's very painful to not being able to use address_group and service_group.

do you have any update on this ?

[2021-04-06 17:06] yannickstruyf3 commented on #170
Hi,

Thank you for your message.
As far as I know this is still a roadmap item. No ETA yet.

[2021-04-13 14:28] jantari opened #275 "Ability to add VMs to a protection domain"
**Is your feature request related to a problem? Please describe.**
Not related to a problem.

**Describe the solution you'd like**
We require the ability to add newly created AHV VMs into a protection domain (for Veeam backup)

**Describe alternatives you've considered**
We've considered executing a `curl` command to call the Prism Element API (`https://prismElementNode:9440/PrismGateway/services/

[2021-04-20 13:06] FruityWelsh opened #276 "Bug: Using project_reference causes plans to fail with "additonal reasources was unexpected"."
### Nutanix Cluster Information

"api_version": "3.1"
### Terraform Version
Terraform v0.15.0
+ provider registry.terraform.io/nutanix/nutanix v1.2.0
### Affected Resource(s)

* nutanix_XXXXX
### Terraform Configuration Files

### main.tf:
[code]
### Debug Output

### Expected Behavior
That project_reference would allow for adding vm to specific project
### Actual Behavior
Fails with project refer

[2021-04-23 14:31] hkusanic commented on #269
Hi @yannickstruyf3
Here is the example with TRACE mode.

[Terraform plan - tasklog_12.log](https://github.com/nutanix/terraform-provider-nutanix/files/6365956/Terraform.plan.-.tasklog_12.log) - in terraform plan we get unmarshalling error

These are the logs from the first run with unmarshalling error
[1st run - tasklog_13_unmarshalling error.log](https://github.com/nutanix/terraform-provider-nuta

[2021-04-26 21:47] nnorakk commented on #249
@zisuu @marcelvenema  I have the same error here. There is no option to choose to what storage container the image will go and when define in vm another storage_container_reference like #223  the resulted vm ignores and keep in SelfServiceContainer , the same container where the image was.

Any thoughts?

[2021-04-27 05:07] zisuu commented on #249
@nnorakk I did not find a way to create a vm or disk and specify the storagecontainer. Maybe this "limitation" is also what some people wrote on here: https://next.nutanix.com/how-it-works-22/prism-api-v3-image-upload-define-storage-container-37329 ?

[2021-04-27 05:09] zisuu commented on #223
maybe same topic? https://next.nutanix.com/how-it-works-22/prism-api-v3-image-upload-define-storage-container-37329

[2021-05-14 11:53] tfiedler opened #278 "Cloning a VM"
### Nutanix Cluster Information
- Prism Central 5.16.1.3
- Prism Element 5.15.1.1

### Terraform Version
[code]

### Affected Resource(s)

* nutanix_XXXXX
### Terraform Configuration Files

[code]
### Debug Output
[Output](https://gist.github.com/tfiedler/a4d9746908401d3f87310ae5655c0ce5#file-terraform_out-txt)

### Panic Output
NA

### Expected Behavior
I would have expected the clone to instanti

[2021-05-15 14:09] tfiedler commented on #278
Closing this. I see some of our Nutanix infra need to be updated before this will work.

[2021-05-15 14:09] tfiedler commented on #278
.

[2021-05-15 14:09] #278 closed, assigned to nobody

[2021-05-18 09:45] yannickstruyf3 commented on #276
Hi,

Can you try to pass both the uuid and project name?
[code]

[2021-06-29 14:15] gfenn-newbury opened #285 "Cloud_init and sysprep CDROMs being detected and destroyed forcing VM reboot"
### Nutanix Cluster Information

### Terraform Version
- 0.12.17
- 0.13.7
- 0.15.3
- 1.0.0

### Affected Resource(s)
* nutanix_virtual_machine

### Terraform Configuration Files

[code]
### Actual Behavior
After initial apply to create the VM, a plan would display the following:
[code]

### Steps to Reproduce
1. Create a `nutanix_virtual_machine` resource *without* specifying the creation of a CDR

[2021-06-30 18:01] yannickstruyf3 opened #287 "Upgrade Terraform provider to the latest SDK"
The current version of the provider uses an older version of the SDK. Upgrading is required.

[2021-07-05 14:57] #264 closed, assigned to nobody

[2021-08-04 13:55] jantari opened #289 "VM update fails with "cannot shut down the VM" for a VM that's powered off already"
### Nutanix Cluster Information

 - Nutanix Cluster (Prism Element / AOS) Version 5.15.5.1 LTS
 - Nutanix Prism Central Version pc.2021.5.0.1

### Terraform Version

[code]

### Affected Resource(s)

* nutanix_virtual_machine

### Terraform Configuration Files

[code]
### Plan/apply output
[code]

### Error message during apply
[code]

### Debug Output

The debug output is huge and contains intern

[2021-08-16 15:10] gfenn-newbury commented on #285
Is there any update on this?

[2021-08-26 13:34] yga-ftp commented on #264
Hello @GNewbury1,
I face to the same issue and I don't find a solution. I see that you close your issue, so I think you find a workaround.
What was your solution ?

Thanks in advance !

[2021-08-27 18:19] tparekh73 commented on #145
Hey @manelso - If the nutanix_image data_source satisfies your use-case? Can we close this issue?

[2021-08-31 04:06] rolffujino commented on #263
@yannickstruyf3  & @tuxtof  cloning is already available, it is just undocumented on how to do it, with only a couple of mentions that it even exists.
After a number of hours of poking/prodding (Nutanix you really need to improve your documentation), I managed to get cloning to work and to customise the VM.

Long story short, here is an example of a configuration that worked for more:
[code]

[2021-08-31 23:49] rolffujino commented on #263
@yannickstruyf3, @lxkm, & @tuxtof after further development I have found some gotchas:

- Not all information is stored in the state file, namely 'parent_reference', so every terraform run will reboot the VM, but not destroy it or clone over the top of it.
- Cloning like in the GUI doesn't allow full VM customisation, e.g. adding serial ports, etc and as such require multiple runs to achieve the d

[2021-09-01 08:05] #271 closed, assigned to gabybeitler, marinsalinas, yannickstruyf3

[2021-09-01 08:29] yannickstruyf3 commented on #256
Hi,

This should be fixed in provider version 1.2.1. Issue will be closed. Please reach out to us in case of additional questions.

[2021-09-01 08:29] #256 closed, assigned to nobody

[2021-09-01 08:30] yannickstruyf3 commented on #255
Fixed in 1.2.1

[2021-09-01 08:30] #255 closed, assigned to nobody

[2021-09-01 08:32] #250 closed, assigned to nobody

[2021-09-01 08:39] #233 closed, assigned to nobody

[2021-09-01 08:45] yannickstruyf3 commented on #167
Did the provided information fix the issue? We will close the issue. Please reach out to us in case of additional questions or if we need to re-open.

[2021-09-01 08:45] #167 closed, assigned to nobody

[2021-09-01 08:46] yannickstruyf3 commented on #162
We will close this issue due to inactivity. Please reach out to us in case of any additional questions or if we need to re-open the issue.

[2021-09-01 08:46] #162 closed, assigned to nobody

[2021-09-01 08:50] yannickstruyf3 commented on #158
We will close this issue since the required information was provided. Please reach out to us in case there are additional questions.

[2021-09-01 08:50] #158 closed, assigned to nobody

[2021-09-01 08:53] yannickstruyf3 commented on #113
@rhizoet did this issue also occur in the latest version of the Nutanix provider? If not we will close this case.

[2021-09-01 09:15] yannickstruyf3 opened #290 "Add support for new Karbon features"
Add support for new Karbon features (upgrades/node pools/...) in the TF provider

[2021-09-01 09:17] yannickstruyf3 opened #291 "Add support for Flow VPCs"
Flow VPCs have been released. Add support for VPC's in Terraform

[2021-09-24 02:31] TheMoves commented on #235
Were you able to pass an IP to the VM? i've tried using Cloud Init and as far as I can tell it doesn't get passed to the VM.

[2021-09-24 09:43] jantari commented on #235
@TheMoves yes, it's unrelated to this issue but [this helped me get it working](https://www.burgundywall.com/post/using-cloud-init-to-set-static-ips-in-ubuntu-20-04). You could also just use `write_files:` in cloud-init to write a file with the config you want to `/etc/netplan/`

[2021-09-27 16:58] marinsalinas commented on #290
@yannickstruyf3 , can you describe which features need to be added to the provider?

[2021-09-29 14:42] yannickstruyf3 opened #294 "Passing cloud_init_meta_data information using YAML throws error or is ignored when passed as JSON"
### Nutanix Cluster Information
AOS: 5.15.4
PC: 2021.3.0.2

### Terraform Version
TF: v1.0.3
Nutanix provider: v1.2.1
### Affected Resource(s)
* nutanix_virtual_machine
### Terraform Configuration Files

[code]

##vm.tf
resource "nutanix_virtual_machine" "vm" {
  name         = var.vm_name
  cluster_uuid = data.nutanix_subnet.subnet.cluster_uuid
  num_vcpus_per_socket  = 2
  num_sockets

[2021-09-30 10:21] Fen0l commented on #290
Hi, I think it would be nice to add the ability to create multiples node pools directly from terraform (Karbon 2.3). As for now, only 1 worker_node_pool can be declared (worker_node_pool: attribute supports 1 item maximum, config has 2 declared).

If we create more Pools directly from Karbon UI, terraform want to re-create the cluster.

[2021-09-30 11:29] yannickstruyf3 commented on #290
Thanks for the feedback @Fen0l

@marinsalinas
Support for adding, removing node pools and managing the respective labels will be the primary focus.

[2021-10-04 12:56] pmiles commented on #13
Any progress on this ? Is been almost 3 years ...

Thanks

[2021-10-12 04:17] nutanix-japan opened #296 "Requesting documentation update for Nutanix"
### Nutanix Cluster Information

### Terraform Version
✗ tf -v
Terraform v1.0.8
on darwin_amd64
+ provider registry.terraform.io/nutanix/nutanix v1.2.0

Your version of Terraform is out of date! The latest version
is 1.0.8. You can update by downloading from https://www.terraform.io/downloads.html
### Affected Resource(s)

* nutanix_subnet
### Terraform Configuration Files

[code]
### Debug Output

[2021-10-15 10:29] Chup4Chups commented on #290
Hi team,

Any update / ETA about this feature ?
We are stuck with terraform until this feature is implemented...

[2021-10-19 08:14] tolivier-canal opened #297 "Provider crash when using ngt_credentials variable."
### Terraform Version
Terraform v1.0.9
Nutanix provider 1.2.1

### Affected Resource(s)
* nutanix_virtual_machine
### Terraform Configuration Files

[code]
### Panic Output
https://gist.github.com/tolivier-canal/ad7794820f3908ee941ad16bd32d213b
### Expected Behavior
Terraform provider should create nutanix_virtual_machine resource.
### Actual Behavior
Terraform provider crash when using ngt_creden

[2021-10-27 14:07] FlochonR opened #298 "Add Datasource for storage_container"
Hello !

I'm beginning to work with this provider that is very practice and I will use the resource nutanix_virtual_machine.
In the example, I found this part
[code]

This request is to add a datasource to get directly in terraform like this for example
[code]

Thanks in advance for your help !

[2021-10-27 14:10] FlochonR opened #299 "Add a complete example of parameter nutanix_guest_tools"
Hello !!

I'm using the resource nutanix_virtual_machine and I would like to use the parameter "nutanix_guest_tools"
Unfortunately, I don't find well how can I configure it to have something that's working si if someone has an exemple to share I would be happy :)

Thanks,
FlochonR

[2021-11-01 16:16] TheMoves commented on #285
Switching from using the resource type of `template_file` to the built in `templatefile` for `userdata` fixed the issue for us - i didn't see anything about a CDROM being the culprit.

[2021-11-05 13:44] lewispeckover opened #302 "Publish darwin_arm64 builds"
Currently it is not possible (without ugly hacks) to use the provider on recent Apple Macs.
Please provide the necessary arm builds.

[2021-11-06 01:28] brunobenchimol opened #303 "Guest Customization (Metadata) is broken - util.py[WARNING]: Broken config drive: /dev/sr0"
### Nutanix Cluster Information

 AOS: 5.20 LTS
 Prism Central: pc.2021.9

### Terraform Version

Terraform v1.0.9
on linux_amd64
+ provider registry.terraform.io/hashicorp/random v3.1.0
+ provider registry.terraform.io/hashicorp/template v2.2.0
+ provider registry.terraform.io/nutanix/nutanix v1.2.1

### Affected Resource(s)

* nutanix_virtual_machine

### Terraform Configuration Files
[code]

[c

[2021-11-07 21:45] brunobenchimol opened #304 "VM creation fails when boot_type = LEGACY"
### Nutanix Cluster Information
AOS: 5.20 LTS
Prism Central: pc.2021.9

### Terraform Version
Terraform v1.0.10
on linux_amd64
+ provider registry.terraform.io/hashicorp/random v3.1.0
+ provider registry.terraform.io/hashicorp/template v2.2.0
+ provider registry.terraform.io/nutanix/nutanix v1.2.1

### Affected Resource(s)
* nutanix_virtual_machine

### Terraform Configuration Files
[code]

### Ex

[2021-11-19 10:13] fabricekrebs opened #306 "data nutanix_virtual_machine doesn't return ip_address attribute"
Nutanix Terraform provider 1.2.1

In the documentation (https://registry.terraform.io/providers/nutanix/nutanix/latest/docs/data-sources/virtual_machine), it is documented the ip_address attribute is returned. But this attribute isn't returned

nutanix@AUTOMATION-01:~/terraform/flow$ terraform apply -auto-approve
╷
│ Error: Unsupported attribute
│
│   on main.tf line 254, in resource "local_file"

[2021-11-23 13:39] yannickstruyf3 opened #308 "Allow Subnet Datasources to filter based on PE ID"
**Is your feature request related to a problem? Please describe.**
The terraform provider currently (v1.2.x) fails when the subnet data source is used to fetch a subnet with a non-unique name.

**Describe the solution you'd like**
We should provide the capability to (optionally) filter subnets based on PE ID

[2021-11-29 17:17] #285 closed, assigned to nobody

[2021-11-29 17:18] #297 closed, assigned to nobody

[2021-11-30 17:14] Otimun opened #312 "NIC trunked vlan_mode configuration"
**Is your feature request related to a problem? Please describe.**
When creating a F5 network device, we need a NIC to be in TRUNKED vlan mode. Adding NICs means that this network device needs to be rebooted so for us configuring a trunked interface is the only way to go.

So far we have only found two ways of doing this. We can open up a request to the team that handles the nutanix platform (and

[2021-12-01 07:43] ebartz commented on #170
Is there any news on this issue?

[2021-12-01 15:05] FlochonR opened #313 "Provider failed to install NGT at the creation of VM"
### Nutanix Cluster Information
AOS Version
6.0.2.2
### Terraform Version
Terraform v1.0.8
Nutanix provider 1.2.2
### Affected Resource(s)
* nutanix_virtual_machine
### Terraform Configuration Files
[code]
### Panic Output
[code]
### Expected Behavior
Terraform provider should create nutanix_virtual_machine resource with NGT installed.
### Actual Behavior
VM is created, NGT is mounted but not inst

[2021-12-01 19:17] siddharth-nutanix commented on #313
Hi @FlochonR ,

Provider uses V3 APIs to communicate with PC.
We are getting this error from PC. From provider side everything seems fine.

Please open a support case.

[2021-12-02 12:29] FlochonR commented on #313
Hello @siddharth-nutanix,

Thanks for the response, I will create a ticket.

[2021-12-02 12:29] #313 closed, assigned to nobody

[2021-12-03 08:29] premkarat opened #314 "Implement CI/CD pipeline for this project"
Couple of options
1. VPN options from github actions marketplace
https://github.com/marketplace/actions/connect-vpn
2. Self-hosted runners
https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners

[2021-12-03 08:34] premkarat opened #315 "Clean up existing tests with dynamic config"
Most of the test config params are currently hard-coded in the existing tests. So for release 1.3 this needs a clean-up and move all hard-coded params to a config file, which can also be populated dynamically using env variables.

[2021-12-03 08:37] premkarat opened #316 "Develop integration tests with code coverage"
Integration tests & code coverage are missing currently and we need to develop this.

[2021-12-03 10:28] #302 closed, assigned to nobody

[2021-12-10 14:28] tuxtof opened #319 "Allow moving a VM in a different container"
implement VM container change based on
migrate_disks API call

[2021-12-13 05:43] sathish1409 opened #320 "Nutanix not supporting to deploy VM from OVA"
Nutanix terraform provider (https://registry.terraform.io/providers/nutanix/nutanix/latest/docs) is not supporting  to create VM from OVA file.

I tried retrieving the VM specifications from the OVA file using this API endpoint (https://www.nutanix.dev/reference/prism_central/v3/api/ovas/getovasuuidvmspec).
The VM spec has a "data_source_reference" URL in it. But, the Nutanix terraform provider do

[2021-12-22 15:11] jantari opened #321 "Support defining categories_mapping for a VM"
**Is your feature request related to a problem? Please describe.**

We require the ability to set more than 1 category key and value for some VMs.

Currently the latest terraform provider 1.2.2 only supports defining:

[code]

on a VM which is immensely limiting.

**Describe the solution you'd like**
Being able to utilize the modern categories_mapping instead of the legacy categories so we can set

[2021-12-22 16:53] pipoe2h commented on #303
Hi @brunobenchimol,

Few things here:

- The network configuration you are trying to do is done with `network-config` and not with `meta_data`
- We don't support passing `network-config` at this time
- network-config has the requirement of netplan
- You can accomplish something similar using user-data with write_files and adding the configuration you shared to `/etc/netplan/my-network.yaml`
- I've

[2021-12-22 23:15] brunobenchimol commented on #303
Hello @pipoe2h.

Thanks for helping. I would like to add more info to help.

I did some tweaks using user-data with write_files:

[code]

Its like hard-coded for CentOS/RHEL since they do not ship/support netplan. Netplan is working on Debian/Ubuntu. But my main point is to support network-config using Cloud-Init (https://cloudinit.readthedocs.io/en/latest/topics/network-config-format-v2.html)

Cl

[2021-12-22 23:45] pipoe2h commented on #303
@brunobenchimol my understanding about `network_config` is that it requires a separated file and it doesn't use meta_data.json. It just has a reference to the file with the format `"network_config": { "content_path": "/content/0000" }`

We use the OpenStack implementation with ConfigDrive, so for using network version 2 configuration you need to create an additional file called network_data.json a

[2021-12-22 23:59] brunobenchimol commented on #303
I would like that example so i can test it out on my enviroment and get back to you. I am not quite sure my "workaround" using user-data and write_files was the best approach to that issue.

I also did the following to set hostname because it was also on `network_config`

[code]

I will also try to spin up the test enviroment on my next free time to add more information here after you send an exam

[2021-12-23 00:06] pipoe2h commented on #303
Here is an example that we use with our Calm automation software.

[code]

[2021-12-23 00:09] pipoe2h commented on #303
Another one. It depends on the Linux distribution and version.

[code]

[2021-12-24 16:46] brunobenchimol commented on #303
Hello back. I did make it work with your scripts. A slightly modified version to pick up variables from Terraform instead of Calm syntax.

I also was fiddling around with RHEL8 (which does not support netplan) on another scenario (different hypervisor - ESXi) and updated cloud-init to use lastest plugins. I know it wont apply to terraform nutanix provider but is still some testing with cloud-init

[2021-12-24 18:59] brunobenchimol commented on #303
Sorry forgot to mention the plugin (https://cloudinit.readthedocs.io/en/21.4/topics/datasources/vmware.html) or if running older cloud-init releases (https://github.com/vmware-archive/cloud-init-vmware-guestinfo).

I also tested on a Ubuntu 20.04 release (Debian bullseye/sid) which comes with:
[code]

Its quite different hypervisors but same cloud-init `meta_data {}` field.

[2022-01-19 09:45] #254 closed, assigned to venkatavivek-ntnx

[2022-01-27 07:19] bhati-pradeep opened #327 "Provider plugin crashes when nutanix_subnet datasource queried with overlay subnet"
### Nutanix Cluster Information
Please provide the version of:
 - pc.2021.7

### Terraform Version

1.1.3

### Affected Resource(s)
nutanix_subnet
### Terraform Configuration Files

[code]
### Debug Output
[code]
### Panic Output
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x19f04ea]

### Expected Behavior
It

[2022-02-03 21:00] d4vydm opened #331 "Provider for darwin_arm64"
Request for a Nutanix terraform provider for darwin_arm64 architecture (Apple M1).

[2022-02-08 13:28] benjamin-crill opened #336 "Error uploading image - connection reset"
### Nutanix Cluster Information

### Terraform Version
1.1.5

### Affected Resource(s)

* nutanix_image
### Terraform Configuration Files

terraform {
  required_providers {
    nutanix = {
      source = "nutanix/nutanix"
      version = "1.2.2"
    }
  }
}

provider "nutanix" {
  username     = var.user
  password     = var.password
  endpoint     = var.endpoint
  insecure     = true
  wait_time

[2022-02-09 04:00] bhati-pradeep opened #337 "nutanix_projects and nutanix_project throws error when there is external network associated to a project"
### Nutanix Cluster Information
 - Nutanix Prism Central : pc.2021.9.0.1

### Terraform Version

1.1.3
### Affected Resource(s)

* Datasource : nutanix_projects
* Datasource : nutanix_project
### Terraform Configuration Files

[code]
### Debug Output

[code]
### Expected Behavior
It shouldn't error out. It should print project data
### Actual Behavior
It errors out with error:  Invalid address to